deal-intelligence-engine/n8n/workflows/workflow-01-ingestion.json
{"updatedAt": "2026-03-03T01:12:49.084Z", "createdAt": "2026-02-27T03:05:47.376Z", "id": "G6kZgyHCK0qHNhRj", "name": "Agent 1: Ingestion", "description": null, "active": true, "isArchived": false, "nodes": [{"parameters": {"operation": "executeQuery", "query": "SELECT id FROM ingestion_log WHERE message_id = '{{ $json.id }}' OR (subject IS NOT NULL AND subject != '' AND LOWER(subject) = '{{ $json.norm_subject.replace(/'/g, \"''\") }}' AND sender_email LIKE '%{{ $json.sender_domain_dedup }}%') LIMIT 1", "options": {}}, "id": "check-duplicate", "name": "Postgres: Check Duplicate", "type": "n8n-nodes-base.postgres", "typeVersion": 2, "position": [912, 208], "credentials": {"postgres": {"id": "WwO5ZGy91Fw5lSFo", "name": "Clearwater Postgres"}}}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose"}, "conditions": [{"id": "dedup-check", "leftValue": "={{ $json.id }}", "rightValue": "", "operator": {"type": "string", "operation": "empty", "singleValue": true}}], "combinator": "and"}, "options": {}}, "id": "is-new", "name": "Is New Email?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1136, 208]}, {"parameters": {"method": "POST", "url": "https://api.anthropic.com/v1/messages", "authentication": "predefinedCredentialType", "nodeCredentialType": "anthropicApi", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "anthropic-version", "value": "2023-06-01"}, {"name": "content-type", "value": "application/json"}]}, "sendBody": true, "contentType": "raw", "rawContentType": "application/json", "body": "={{ $json.classify_request_body }}", "options": {}}, "id": "classify-email", "name": "AI: Classify & Attribute Email", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [1560, 208], "credentials": {"anthropicApi": {"id": "6NnFWUY71nO8HiT2", "name": "Anthropic account"}}}, {"parameters": {"jsCode": "// Parse Anthropic classification response and merge with normalized Outlook email data.\n// Input comes exclusively from the Power Automate \u2192 Outlook webhook pipeline.\n// Upstream: Code: Normalize Outlook Payload \u2192 Code: Normalize For Dedup \u2192 AI: Classify\n// emailData fields: id, From, Subject, Date, text, snippet, outlookAttachments, source\n\nconst response = $input.first().json;\nconst rawText = response.text || response.content?.[0]?.text || '{}';\n\nlet classification;\ntry {\n  const cleaned = rawText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  classification = JSON.parse(cleaned);\n} catch (e) {\n  classification = {\n    company_name: 'Unknown',\n    sender_domain: 'unknown',\n    doc_type: 'email_body',\n    deal_indicators: [],\n    guessed_deal_company: 'Unknown',\n    confidence: 'low',\n    confidence_score: 0.1,\n    reasoning: 'Parse error: ' + e.message\n  };\n}\n\n// Read normalized email data from upstream Outlook pipeline\nconst emailData = $('Code: Normalize For Dedup').first().json;\n\nconst senderEmail = emailData.From || '';\nconst subject     = emailData.Subject || '';\nconst emailDate   = emailData.Date || new Date().toISOString();\nconst fullText    = emailData.text || emailData.snippet || '';\nconst messageId   = emailData.id || '';\n\n// Extract sender domain (handles 'Name <email@domain.com>' format)\nfunction extractDomain(emailStr) {\n  const match = emailStr.match(/<([^>]+)>/) || emailStr.match(/([^\\s@]+@[^\\s>]+)/);\n  const addr = match ? match[1] : emailStr;\n  const parts = addr.split('@');\n  return parts.length === 2 ? parts[1].toLowerCase().trim() : 'unknown';\n}\nconst resolvedDomain = extractDomain(senderEmail) || classification.sender_domain || 'unknown';\n\nreturn [{\n  json: {\n    ...classification,\n    sender_domain: resolvedDomain,\n    message_id: messageId,\n    subject: subject,\n    sender_email: senderEmail,\n    email_date: emailDate,\n    text: fullText,\n    html: '',\n    attachments: emailData.outlookAttachments || [],\n    source: 'outlook'\n  }\n}];\n"}, "id": "parse-classification", "name": "Code: Parse Classification", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1584, 208]}, {"parameters": {"rules": {"values": [{"conditions": {"conditions": [{"leftValue": "={{ $json.confidence }}", "rightValue": "high", "operator": {"operation": "equals"}}]}, "renameOutput": true, "outputKey": "high"}, {"conditions": {"conditions": [{"leftValue": "={{ $json.confidence }}", "rightValue": "medium", "operator": {"operation": "equals"}}]}, "renameOutput": true, "outputKey": "medium"}, {"conditions": {"conditions": [{"leftValue": "={{ $json.confidence }}", "rightValue": "low", "operator": {"operation": "equals"}}]}, "renameOutput": true, "outputKey": "low"}]}, "options": {}}, "id": "confidence-router", "name": "Route by Confidence", "type": "n8n-nodes-base.switch", "typeVersion": 3, "position": [1808, 192]}, {"parameters": {"operation": "executeQuery", "query": "SELECT deal_id, company_name FROM deals WHERE ('{{ $json.sender_domain }}' = ANY(sender_domains) OR LOWER(company_name) LIKE LOWER('%{{ $json.guessed_deal_company }}%')) AND is_active = TRUE LIMIT 1", "options": {}}, "id": "lookup-deal-high", "name": "Postgres: Lookup Deal (High)", "type": "n8n-nodes-base.postgres", "typeVersion": 2, "position": [2032, 136], "credentials": {"postgres": {"id": "WwO5ZGy91Fw5lSFo", "name": "Clearwater Postgres"}}}, {"parameters": {"operation": "executeQuery", "query": "INSERT INTO attribution_queue (message_id, sender_email, sender_domain, subject, email_date, ai_guess_company, ai_confidence, doc_type) VALUES ('{{ $json.message_id }}', '{{ $json.sender_email }}', '{{ $json.sender_domain }}', '{{ $json.subject }}', '{{ $json.email_date }}', '{{ $json.guessed_deal_company }}', {{ $json.confidence_score }}, '{{ $json.doc_type }}') ON CONFLICT (message_id) DO NOTHING", "options": {}}, "id": "queue-for-confirm", "name": "Postgres: Queue for Confirmation", "type": "n8n-nodes-base.postgres", "typeVersion": 2, "position": [2256, 328], "credentials": {"postgres": {"id": "WwO5ZGy91Fw5lSFo", "name": "Clearwater Postgres"}}}, {"parameters": {"jsCode": "// Low-confidence emails still get ingested \u2014 just tagged as 'unattributed'\n// so they're searchable once Austin confirms the deal in the attribution queue.\nconst emailData = $('Code: Parse Classification').first().json;\nreturn [{\n  json: {\n    ...emailData,\n    deal_id: 'unattributed',\n    qdrant_namespace: 'unattributed',\n    attribution_confidence: 'low',\n    is_new_deal: false,\n    company_name: emailData.guessed_deal_company || emailData.company_name || 'Unknown'\n  }\n}];\n"}, "id": "assign-unattributed", "name": "Code: Assign Unattributed Deal ID", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2480, 328]}, {"parameters": {"jsCode": "// Build deal_id from matched deal or generate a slug\n// Always pull email data from Parse Classification (upstream of Postgres lookup)\nconst emailData = $('Code: Parse Classification').first().json;\nconst dealLookup = $('Postgres: Lookup Deal (High)').first()?.json;\n\nlet deal_id = dealLookup?.deal_id;\nif (!deal_id) {\n  const company = (emailData.guessed_deal_company || emailData.company_name || 'unknown')\n    .toLowerCase()\n    .replace(/[^a-z0-9]/g, '_')\n    .replace(/_+/g, '_')\n    .substring(0, 32);\n  const year = new Date().getFullYear();\n  deal_id = `cw_${company}_${year}`;\n}\n\n// If new deal (not found in deals table), insert it\nconst isNewDeal = !dealLookup?.deal_id;\n\nreturn [{\n  json: {\n    ...emailData,\n    deal_id,\n    qdrant_namespace: deal_id,\n    attribution_confidence: emailData.confidence,\n    is_new_deal: isNewDeal,\n    company_name: dealLookup?.company_name || emailData.company_name || emailData.guessed_deal_company\n  }\n}];\n"}, "id": "assign-deal-id", "name": "Code: Assign Deal ID", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2256, 136]}, {"parameters": {"mode": "expression", "numberOutputs": 5, "output": "={{ {'calendar_invite':0,'email_body':1,'call_transcript':2,'pdf_attachment':3}.hasOwnProperty($json.doc_type) ? {'calendar_invite':0,'email_body':1,'call_transcript':2,'pdf_attachment':3}[$json.doc_type] : 4 }}"}, "id": "doc-type-router", "name": "Route by Document Type", "type": "n8n-nodes-base.switch", "typeVersion": 3, "position": [2928, 160]}, {"parameters": {"jsCode": "// Extract clean text from email body\nconst emailData = $input.first().json;\n\nlet text = emailData.text || emailData.snippet || '';\n\nif (!text && emailData.html) {\n  text = emailData.html\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nconst boilerplate = [\n  /CONFIDENTIALITY NOTICE[\\s\\S]*?$/i,\n  /This email and any attachments[\\s\\S]*?$/i,\n  /DISCLAIMER[\\s\\S]*?$/i,\n  /Sent from my iPhone/i,\n  /Get Outlook for/i\n];\nfor (const p of boilerplate) { text = text.replace(p, ''); }\n\nreturn [{ json: { ...emailData, extracted_text: text.trim(), extraction_method: 'email_body' } }];\n"}, "id": "extract-email-body", "name": "Code: Extract Email Body", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [3152, 64]}, {"parameters": {"operation": "extractFromFile"}, "id": "extract-pdf", "name": "Extract from File (PDF/DOCX/TXT)", "type": "n8n-nodes-base.extractFromFile", "typeVersion": 1, "position": [3376, 352]}, {"parameters": {"jsCode": "// Parse thread: split a forwarded/reply email thread into individual messages.\n// Each message gets its own sender, date, and body \u2014 so Qdrant gets accurate timestamps.\n// Falls back to treating the whole body as a single message if no thread structure detected.\n\nconst data = $input.first().json;\nconst rawText = data.extracted_text || data.text || '';\n\n// --- Thread splitter patterns (Gmail, Outlook, Apple Mail) ---\n// Pattern 1: Gmail forwarded message header\n//   ---------- Forwarded message ---------\n//   From: Name <email>\n//   Date: Wed, Jan 21, 2026 at 5:50 PM\nconst GMAIL_FWD = /^-{5,}\\s*Forwarded message\\s*-{5,}\\s*$/im;\n\n// Pattern 2: Gmail/Outlook reply quote header\n//   On Wed, Jan 21, 2026 at 5:50 PM Austin Holland <austin@...> wrote:\nconst REPLY_HEADER = /^On\\s+\\w{3},?\\s+\\w+\\s+\\d+,\\s+\\d{4}\\s+at\\s+[\\d:]+\\s*(AM|PM).*wrote:\\s*$/im;\n\n// Pattern 3: Outlook forwarded block\n//   From: Name <email>\n//   Sent: Wednesday, January 21, 2026 5:50 PM\n//   To: ...\n//   Subject: ...\nconst OUTLOOK_FWD = /^From:\\s*.+\\r?\\nSent:\\s*.+\\r?\\nTo:\\s*/im;\n\n// Helper: extract From/Date from a header block\nfunction parseHeaders(block) {\n  const fromMatch = block.match(/From:\\s*([^\\n\\r]+)/i);\n  const dateMatch = block.match(/(?:Date|Sent):\\s*([^\\n\\r]+)/i);\n  const fromRaw = fromMatch ? fromMatch[1].trim() : '';\n  const dateRaw = dateMatch ? dateMatch[1].trim() : '';\n\n  // Extract email address from 'Name <email>' or bare email\n  const emailMatch = fromRaw.match(/<([^>]+)>/) || fromRaw.match(/(\\S+@\\S+)/);\n  const senderEmail = emailMatch ? emailMatch[1] : fromRaw;\n\n  // Parse date \u2014 JS Date handles most formats gracefully\n  let dateCreated = data.email_date || new Date().toISOString();\n  if (dateRaw) {\n    const parsed = new Date(dateRaw);\n    if (!isNaN(parsed.getTime())) dateCreated = parsed.toISOString();\n  }\n\n  return { senderEmail, dateCreated };\n}\n\n// --- Split logic ---\nlet messages = [];\n\n// Try to split on Gmail forwarded header\nif (GMAIL_FWD.test(rawText)) {\n  const parts = rawText.split(GMAIL_FWD);\n  for (const part of parts) {\n    const trimmed = part.trim();\n    if (!trimmed) continue;\n    const { senderEmail, dateCreated } = parseHeaders(trimmed);\n    // Strip the header lines, keep the body\n    const body = trimmed.replace(/^(From:|Date:|To:|Cc:|Subject:)[^\\n]*\\n/gim, '').trim();\n    if (body.length > 50) messages.push({ senderEmail, dateCreated, body });\n  }\n}\n\n// Try reply-quote headers if no forwarded splits found\nif (messages.length <= 1) {\n  const parts = rawText.split(REPLY_HEADER);\n  if (parts.length > 1) {\n    messages = [];\n    for (const part of parts) {\n      const trimmed = part.trim();\n      if (!trimmed) continue;\n      // Reply headers appear as separators \u2014 try to parse date from preceding line\n      const { senderEmail, dateCreated } = parseHeaders(trimmed);\n      const body = trimmed.replace(/^On\\s+[^\\n]+wrote:/im, '').trim();\n      if (body.length > 50) messages.push({ senderEmail, dateCreated, body });\n    }\n  }\n}\n\n// Try Outlook forwarded block\nif (messages.length <= 1 && OUTLOOK_FWD.test(rawText)) {\n  const parts = rawText.split(/(?=^From:\\s*.+\\r?\\nSent:\\s*)/im);\n  if (parts.length > 1) {\n    messages = [];\n    for (const part of parts) {\n      const trimmed = part.trim();\n      if (!trimmed) continue;\n      const { senderEmail, dateCreated } = parseHeaders(trimmed);\n      const body = trimmed.replace(/^(From:|Sent:|To:|Cc:|Subject:)[^\\n]*\\n/gim, '').trim();\n      if (body.length > 50) messages.push({ senderEmail, dateCreated, body });\n    }\n  }\n}\n\n// Fallback: single message, no thread detected\nif (messages.length === 0) {\n  messages = [{ senderEmail: data.sender_email || '', dateCreated: data.email_date || new Date().toISOString(), body: rawText }];\n}\n\n// Sort chronologically (oldest first)\nmessages.sort((a, b) => new Date(a.dateCreated) - new Date(b.dateCreated));\n\n// Return one item per message, carrying all deal metadata but overriding sender/date per message\nreturn messages.map((msg, i) => ({\n  json: {\n    ...data,\n    extracted_text: msg.body,\n    sender_email: msg.senderEmail || data.sender_email,\n    email_date: msg.dateCreated,\n    thread_index: i,\n    thread_total: messages.length,\n    // Preserve original message_id but make each thread message unique for dedup\n    message_id: messages.length > 1 ? `${data.message_id}_t${i}` : data.message_id\n  }\n}));\n"}, "id": "parse-thread", "name": "Code: Parse Thread", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [3376, 136]}, {"parameters": {"jsCode": "// Merge extracted text with email metadata\nconst emailData = $input.first().json;\nconst extractedText = emailData.extracted_text || emailData.text || emailData.snippet || '';\n\nreturn [{ json: { ...emailData, extracted_text: extractedText } }];\n"}, "id": "merge-extracted", "name": "Code: Merge Extracted Text", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [3600, 232]}, {"parameters": {"jsCode": "// Contextual enrichment: prepend deal/doc context to extracted text\nconst data = $input.first().json;\n\n// For calendar invites, embeddable_text is already built by Code: Parse ICS\nif (data.doc_type === 'calendar_invite' && data.embeddable_text) {\n  return [{ json: { ...data, enriched_text: data.embeddable_text, extracted_text: data.embeddable_text } }];\n}\n\nconst dealId = data.deal_id || 'unknown';\nconst companyName = data.company_name || data.guessed_deal_company || 'Unknown Company';\nconst docType = data.doc_type || 'email';\nconst senderEmail = data.sender_email || '';\nconst rawText = data.extracted_text || '';\n\n// For call transcripts, try to extract the actual call date from the document content.\n// Transcripts are often forwarded days after the call occurred, so the Gmail Date header\n// reflects when the email was sent, not when the call happened.\n// Look for common transcript date patterns at the top of the document.\nfunction extractTranscriptDate(text) {\n  // Match patterns like:\n  //   Date: January 21, 2026\n  //   Date: 2026-01-21\n  //   Call Date: Wed, Jan 21, 2026\n  //   January 21, 2026  (standalone line near top)\n  const patterns = [\n    /^(?:call\\s+)?date[:\\s]+([\\w,\\s]+\\d{4})/im,\n    /^date[:\\s]+(\\d{4}-\\d{2}-\\d{2})/im,\n    /^(?:meeting|session|call)[\\s\\S]{0,40}?(\\b(?:january|february|march|april|may|june|july|august|september|october|november|december)\\s+\\d{1,2},?\\s+\\d{4})/im,\n    /\\b(\\d{4}-\\d{2}-\\d{2})\\b/,\n    /\\b((?:january|february|march|april|may|june|july|august|september|october|november|december)\\s+\\d{1,2},?\\s+\\d{4})\\b/i\n  ];\n  // Only scan the first 500 chars \u2014 date lines are always near the top\n  const sample = text.slice(0, 500);\n  for (const pattern of patterns) {\n    const match = sample.match(pattern);\n    if (match) {\n      const parsed = new Date(match[1]);\n      if (!isNaN(parsed.getTime())) return parsed.toISOString();\n    }\n  }\n  return null;\n}\n\nlet resolvedDate = data.email_date;\nif (docType === 'call_transcript') {\n  const transcriptDate = extractTranscriptDate(rawText);\n  if (transcriptDate) resolvedDate = transcriptDate;\n}\n\nconst emailDate = resolvedDate ? new Date(resolvedDate).toISOString().split('T')[0] : new Date().toISOString().split('T')[0];\n\nconst contextHeader = `[DEAL CONTEXT]\\nDeal: ${companyName} (ID: ${dealId})\\nDocument Type: ${docType}\\nDate: ${emailDate}\\nSource: ${senderEmail}\\n[END CONTEXT]\\n\\n`;\n\nconst enrichedText = contextHeader + rawText;\n\nreturn [{ json: { ...data, enriched_text: enrichedText, email_date: resolvedDate || data.email_date } }];\n"}, "id": "contextual-enrichment", "name": "Code: Contextual Enrichment", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [3824, 232]}, {"parameters": {"jsCode": "// Split enriched text into chunks, carrying all deal metadata forward.\n// call_transcript: sentence-boundary aware, chunkSize=2500, overlap=250\n//   \u2014 keeps full speaker utterances intact so CAS-scoring evidence\n//     (e.g. \"I would stagegate this...\") never splits across chunks.\n// All other doc types: fixed character split, chunkSize=1800, overlap=180\nconst data = $input.first().json;\nconst text = data.enriched_text || '';\nconst isTranscript = (data.doc_type === 'call_transcript');\nconst chunkSize    = isTranscript ? 2500 : 1800;\nconst chunkOverlap = isTranscript ? 250  : 180;\n\nlet chunks = [];\n\nif (isTranscript) {\n  // Sentence-boundary aware splitting for transcripts.\n  // Split on sentence-ending punctuation OR speaker-turn boundaries (\"Name: \").\n  // Regex: split AFTER . ? ! followed by whitespace+capital, OR at a newline\n  // followed by a word and colon (speaker label like \"Austin:\" or \"Brad:\").\n  const sentenceBreak = /(?<=[.?!])\\s+(?=[A-Z])|(?=\\n[A-Za-z][^:\\n]{0,30}:)/g;\n  const sentences = text.split(sentenceBreak).filter(s => s.trim().length > 0);\n\n  let current = '';\n  for (const sentence of sentences) {\n    if (current.length + sentence.length > chunkSize && current.length > 0) {\n      chunks.push(current.trim());\n      // Overlap: keep the tail of the current chunk as the start of the next\n      const overlapStart = current.length > chunkOverlap\n        ? current.length - chunkOverlap\n        : 0;\n      current = current.slice(overlapStart) + ' ' + sentence;\n    } else {\n      current += (current.length > 0 ? ' ' : '') + sentence;\n    }\n  }\n  if (current.trim().length > 0) chunks.push(current.trim());\n\n} else {\n  // Fixed character split for emails, PDFs, and everything else\n  let start = 0;\n  while (start < text.length) {\n    const end = Math.min(start + chunkSize, text.length);\n    chunks.push(text.slice(start, end));\n    if (end === text.length) break;\n    start = end - chunkOverlap;\n  }\n}\n\nreturn chunks.map((chunk, index) => ({\n  json: {\n    ...data,\n    chunk_text: chunk,\n    chunk_index: index,\n    total_chunks: chunks.length\n  }\n}));\n"}, "id": "chunk-text", "name": "Code: Chunk Text", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [4048, 232]}, {"parameters": {"method": "POST", "url": "https://api.openai.com/v1/embeddings", "authentication": "predefinedCredentialType", "nodeCredentialType": "openAiApi", "sendBody": true, "contentType": "raw", "rawContentType": "application/json", "body": "={{ JSON.stringify({ model: 'text-embedding-3-small', input: $json.chunk_text }) }}", "options": {}}, "id": "embed-chunk", "name": "HTTP: Embed Chunk", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [4272, 232], "credentials": {"openAiApi": {"id": "0uPlAmGz2rZbF75R", "name": "OpenAI API"}}}, {"parameters": {"jsCode": "// Build Qdrant point with embedding + full metadata payload\n// HTTP Request nodes break paired item chains in n8n \u2014 retrieve chunk data\n// by matching on chunk_index from all Code: Chunk Text outputs.\nconst allItems = $input.all();\nconst allChunks = $('Code: Chunk Text').all();\n\n// UUID v4 without require('crypto') \u2014 n8n sandbox blocks it\nfunction uuidv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n  });\n}\n\n// Build one point per item in input (each is one OpenAI embed response)\nreturn allItems.map((item, i) => {\n  const embedding = item.json.data?.[0]?.embedding;\n  if (!embedding) throw new Error(`No embedding at index ${i}`);\n  // Match chunk by index \u2014 allChunks and allItems are in the same order\n  const chunkData = (allChunks[i] || allChunks[0]).json;\n  const point = {\n    id: uuidv4(),\n    vector: embedding,\n    payload: {\n      deal_id: chunkData.deal_id || 'unknown',\n      company_name: chunkData.company_name || chunkData.guessed_deal_company || 'Unknown',\n      doc_type: chunkData.doc_type || 'email_body',\n      sender_domain: chunkData.sender_domain || '',\n      attribution_confidence: chunkData.attribution_confidence || 'low',\n      date_created: chunkData.email_date || '',\n      message_id: chunkData.message_id || '',\n      chunk_index: chunkData.chunk_index || i,\n      page_content: chunkData.chunk_text || ''\n    }\n  };\n  return { json: { point, ...chunkData } };\n});\n"}, "id": "build-qdrant-point", "name": "Code: Build Qdrant Point", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [4496, 232]}, {"parameters": {"method": "PUT", "url": "http://qdrant:6333/collections/deals/points", "sendBody": true, "contentType": "raw", "rawContentType": "application/json", "body": "={{ JSON.stringify({ points: [$json.point] }) }}", "options": {}}, "id": "qdrant-upsert", "name": "HTTP: Qdrant Upsert", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [4720, 232]}, {"parameters": {"operation": "executeQuery", "query": "INSERT INTO ingestion_log (message_id, deal_id, attribution_confidence, attribution_status, sender_email, sender_domain, subject, doc_type, attachment_count, chunk_count, qdrant_namespace) VALUES ('{{ $('Code: Count Chunks').first().json.message_id }}', '{{ $('Code: Count Chunks').first().json.deal_id }}', '{{ $('Code: Count Chunks').first().json.attribution_confidence }}', 'processed', '{{ $('Code: Count Chunks').first().json.sender_email }}', '{{ $('Code: Count Chunks').first().json.sender_domain }}', '{{ $('Code: Count Chunks').first().json.subject }}', '{{ $('Code: Count Chunks').first().json.doc_type }}', 0, {{ $('Code: Count Chunks').first().json.chunk_count }}, '{{ $('Code: Count Chunks').first().json.qdrant_namespace }}') ON CONFLICT (message_id) DO NOTHING", "options": {}}, "id": "log-ingestion", "name": "Postgres: Log Ingestion", "type": "n8n-nodes-base.postgres", "typeVersion": 2, "position": [5168, 232], "credentials": {"postgres": {"id": "WwO5ZGy91Fw5lSFo", "name": "Clearwater Postgres"}}}, {"parameters": {"method": "POST", "url": "http://localhost:5678/webhook/deal-health-trigger", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ deal_id: $('Code: Count Chunks').first().json.deal_id, trigger_message_id: $('Code: Count Chunks').first().json.message_id, trigger_type: 'new_ingestion' }) }}", "options": {"timeout": 2000, "response": {"response": {"fullResponse": false}}}}, "id": "trigger-health-agent", "name": "HTTP: Trigger Health Agent", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [5392, 232], "continueOnFail": true}, {"parameters": {"operation": "executeQuery", "query": "INSERT INTO deals (deal_id, company_name, sender_domains, deal_stage, deal_owner, is_active) VALUES ('{{ $json.deal_id }}', '{{ $json.company_name }}', ARRAY['{{ $json.sender_domain }}'], 'discover', 'austin.holland@clearwatersecurity.com', true) ON CONFLICT (deal_id) DO NOTHING", "options": {}}, "id": "upsert-deal", "name": "Postgres: Upsert Deal", "type": "n8n-nodes-base.postgres", "typeVersion": 2, "position": [2480, 136], "credentials": {"postgres": {"id": "WwO5ZGy91Fw5lSFo", "name": "Clearwater Postgres"}}}, {"parameters": {"jsCode": "// Pull deal metadata from the attribution node (Postgres: Upsert Deal outputs {success:true})\n// Use Code: Assign Deal ID as the source of truth for deal metadata\nlet dealData;\ntry {\n  dealData = $('Code: Assign Deal ID').first().json;\n} catch(e) {\n  dealData = $('Code: Assign Unattributed Deal ID').first().json;\n}\nreturn [{ json: dealData }];"}, "id": "passthrough-deal", "name": "Code: Pass Deal Data", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2704, 208]}, {"parameters": {"jsCode": "// Count how many chunks were upserted into Qdrant.\n// $input.first().json here is the Qdrant API response \u2014 not chunk metadata.\n// Code: Build Qdrant Point spreads ...chunkData (with message_id, deal_id, etc.)\n// so we pull directly from that node by name.\nconst enrichData = $('Code: Build Qdrant Point').first().json;\nconst chunkCount = enrichData.total_chunks || $('Code: Build Qdrant Point').all().length;\nreturn [{ json: { ...enrichData, chunk_count: chunkCount } }];"}, "id": "count-chunks", "name": "Code: Count Chunks", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [4944, 232]}, {"parameters": {"jsCode": "// Normalise email fields for content-level dedup\n// Strips FW:/Re:/Fwd: prefix from subject so forwarded copies are caught\nconst msg = $input.first().json;\n\nfunction getHeader(headers, name) {\n  if (!headers) return '';\n  const h = headers.find(h => h.name.toLowerCase() === name.toLowerCase());\n  return h ? h.value : '';\n}\nconst headers = msg.payload?.headers || [];\nconst rawSubject = msg.Subject || msg.subject || getHeader(headers, 'Subject') || '';\nconst rawFrom    = msg.From    || msg.from    || getHeader(headers, 'From')    || '';\n\n// Strip reply/forward prefixes recursively\nconst normSubject = rawSubject.replace(/^(fw:|re:|fwd:|forward:)\\s*/gi, '').trim().toLowerCase();\n\n// Extract domain from From header  'Name <email@domain.com>' or 'email@domain.com'\nconst addrMatch = rawFrom.match(/<([^>]+)>/) || rawFrom.match(/(\\S+@\\S+)/);\nconst senderAddr = addrMatch ? addrMatch[1] : rawFrom;\nconst domain = senderAddr.includes('@') ? senderAddr.split('@')[1].toLowerCase().replace(/['>]/g,'') : '';\n\nreturn [{ json: { ...msg, norm_subject: normSubject, sender_domain_dedup: domain } }];\n"}, "id": "aabbccdd-1122-3344-5566-778899aabbcc", "name": "Code: Normalize For Dedup", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [688, 208]}, {"parameters": {"httpMethod": "POST", "path": "outlook-email-ingest", "options": {}}, "id": "outlook-webhook-0001-0000-0000-000000000001", "name": "Webhook: Receive Outlook Email", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [240, 208], "webhookId": "805c803c-7239-492a-a55c-f3dbd2d60687"}, {"parameters": {"jsCode": "// Normalize Power Automate Outlook payload to match Gmail field shape\n// Expected PA payload:\n// { messageId, subject, from, to, sentAt, bodyContent, attachments: [{name, contentType, contentBytes}] }\nconst body = $input.first().json.body || $input.first().json;\n\nconst messageId   = String(body.messageId || body.message_id || '');\nconst subject     = body.subject || '';\nconst from        = body.from || '';\nconst to          = body.to || '';\nconst sentAt      = body.sentAt || body.sent_at || new Date().toISOString();\nconst rawText     = body.bodyContent || body.body_content || '';\nconst attachments = body.attachments || [];\n\n// Strip HTML tags and decode common HTML entities to get clean plain text\nfunction stripHtml(html) {\n  if (!html || !html.includes('<')) return html;\n  return html\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<br\\s*\\/?>/gi, '\\n')\n    .replace(/<\\/p>/gi, '\\n')\n    .replace(/<\\/div>/gi, '\\n')\n    .replace(/<[^>]+>/g, '')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#39;/g, \"'\")\n    .replace(/\\r\\n/g, '\\n')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n}\n\nconst text = stripHtml(rawText);\n\nreturn [{\n  json: {\n    id: messageId,\n    Subject: subject,\n    From: from,\n    To: to,\n    Date: sentAt,\n    text: text,\n    snippet: text.substring(0, 200),\n    outlookAttachments: attachments,\n    source: 'outlook'\n  }\n}];\n"}, "id": "normalize-outlook-0001-0000-0000-000000000001", "name": "Code: Normalize Outlook Payload", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [464, 208]}, {"id": "7dbcf2ca-968b-436b-afdf-cca28a2d1ce0", "name": "Code: Build Classify Request", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1160, 208], "parameters": {"jsCode": "const d = $('Code: Normalize For Dedup').first().json;\nconst from = d.From || d.from || 'unknown';\nconst subject = d.Subject || d.subject || '(no subject)';\nconst bodyText = (d.text ?? d.snippet ?? '').slice(0, 2000);\n\nconst prompt = `You are a deal attribution classifier for Clearwater Security & Compliance. Analyze this email and return ONLY a JSON object (no markdown, no code fences) with these exact fields:\n{\n  \"company_name\": \"<company name or Unknown>\",\n  \"sender_domain\": \"<domain from sender email>\",\n  \"doc_type\": \"<email_body|call_transcript|pdf_attachment|pptx_attachment|csv_attachment|calendar_invite|other>\",\n  \"deal_indicators\": [],\n  \"guessed_deal_company\": \"<company name>\",\n  \"confidence\": \"<high|medium|low>\",\n  \"confidence_score\": 0.0,\n  \"reasoning\": \"<one sentence>\"\n}\n\nCLASSIFICATION RULES (apply in order):\n\nRULE 1 - doc_type from subject line (overrides body inference):\nIf the subject contains \"transcript\", \"call transcript\", \"recording\", or \"call notes\" set doc_type to call_transcript, regardless of sender or body content.\nIf the subject contains \"calendar invite\" or the body contains BEGIN:VCALENDAR/DTSTART/DTEND set doc_type to calendar_invite.\n\nRULE 2 - company attribution when sender is internal (clearwatersecurity.com):\nIf the sender domain is clearwatersecurity.com, do NOT use the sender to identify the deal company.\nExtract the prospect company name from the subject line (e.g. \"Velentium\" from \"FW: Call Transcript - Velentium | Clearwater\").\nSet guessed_deal_company to that company name and confidence to high if a company name is clearly present in the subject.\nIf no company name can be extracted from the subject, set confidence to low.\n\nRULE 3 - company attribution when sender is external:\nUse the sender domain to identify the deal company. High confidence if the domain is a recognizable company. Low confidence if the domain is generic (gmail.com, outlook.com, etc.).\n\nRULE 4 - calendar invite override:\nIf the subject/body contains calendar invite markers (BEGIN:VCALENDAR, DTSTART, DTEND, SUMMARY, ORGANIZER, ATTENDEE) then set doc_type to calendar_invite regardless of other content.\n\nEmail details:\nFrom: ${from}\nSubject: ${subject}\n\nBody (first 2000 chars): ${bodyText}`;\n\nconst requestBody = JSON.stringify({\n  model: 'claude-sonnet-4-6',\n  max_tokens: 1024,\n  messages: [{ role: 'user', content: prompt }]\n});\n\nreturn [{ json: { classify_request_body: requestBody } }];\n"}}], "connections": {"Postgres: Check Duplicate": {"main": [[{"node": "Is New Email?", "type": "main", "index": 0}]]}, "Is New Email?": {"main": [[{"node": "Code: Build Classify Request", "type": "main", "index": 0}], []]}, "AI: Classify & Attribute Email": {"main": [[{"node": "Code: Parse Classification", "type": "main", "index": 0}]]}, "Code: Parse Classification": {"main": [[{"node": "Route by Confidence", "type": "main", "index": 0}]]}, "Route by Confidence": {"main": [[{"node": "Postgres: Lookup Deal (High)", "type": "main", "index": 0}], [{"node": "Postgres: Lookup Deal (High)", "type": "main", "index": 0}], [{"node": "Postgres: Queue for Confirmation", "type": "main", "index": 0}]]}, "Postgres: Lookup Deal (High)": {"main": [[{"node": "Code: Assign Deal ID", "type": "main", "index": 0}]]}, "Code: Assign Deal ID": {"main": [[{"node": "Postgres: Upsert Deal", "type": "main", "index": 0}]]}, "Postgres: Queue for Confirmation": {"main": [[{"node": "Code: Assign Unattributed Deal ID", "type": "main", "index": 0}]]}, "Code: Assign Unattributed Deal ID": {"main": [[{"node": "Code: Pass Deal Data", "type": "main", "index": 0}]]}, "Postgres: Upsert Deal": {"main": [[{"node": "Code: Pass Deal Data", "type": "main", "index": 0}]]}, "Code: Pass Deal Data": {"main": [[{"node": "Route by Document Type", "type": "main", "index": 0}]]}, "Route by Document Type": {"main": [[], [{"node": "Code: Extract Email Body", "type": "main", "index": 0}], [{"node": "Code: Parse Thread", "type": "main", "index": 0}], [{"node": "Extract from File (PDF/DOCX/TXT)", "type": "main", "index": 0}], []]}, "Code: Extract Email Body": {"main": [[{"node": "Code: Parse Thread", "type": "main", "index": 0}]]}, "Code: Parse Thread": {"main": [[{"node": "Code: Merge Extracted Text", "type": "main", "index": 0}]]}, "Extract from File (PDF/DOCX/TXT)": {"main": [[{"node": "Code: Merge Extracted Text", "type": "main", "index": 0}]]}, "Code: Merge Extracted Text": {"main": [[{"node": "Code: Contextual Enrichment", "type": "main", "index": 0}]]}, "Code: Contextual Enrichment": {"main": [[{"node": "Code: Chunk Text", "type": "main", "index": 0}]]}, "Code: Chunk Text": {"main": [[{"node": "HTTP: Embed Chunk", "type": "main", "index": 0}]]}, "HTTP: Embed Chunk": {"main": [[{"node": "Code: Build Qdrant Point", "type": "main", "index": 0}]]}, "Code: Build Qdrant Point": {"main": [[{"node": "HTTP: Qdrant Upsert", "type": "main", "index": 0}]]}, "HTTP: Qdrant Upsert": {"main": [[{"node": "Code: Count Chunks", "type": "main", "index": 0}]]}, "Postgres: Log Ingestion": {"main": [[{"node": "HTTP: Trigger Health Agent", "type": "main", "index": 0}]]}, "Code: Count Chunks": {"main": [[{"node": "Postgres: Log Ingestion", "type": "main", "index": 0}]]}, "Code: Normalize For Dedup": {"main": [[{"node": "Postgres: Check Duplicate", "type": "main", "index": 0}]]}, "Webhook: Receive Outlook Email": {"main": [[{"node": "Code: Normalize Outlook Payload", "type": "main", "index": 0}]]}, "Code: Normalize Outlook Payload": {"main": [[{"node": "Code: Normalize For Dedup", "type": "main", "index": 0}]]}, "Code: Build Classify Request": {"main": [[{"node": "AI: Classify & Attribute Email", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "saveManualExecutions": true, "callerPolicy": "workflowsFromSameOwner", "errorWorkflow": "", "availableInMCP": false, "timeSavedMode": "fixed", "saveDataSuccessExecution": "all", "binaryMode": "separate", "saveDataErrorExecution": "all"}, "staticData": {"node:Gmail: Watch Ingestion Inbox": {"lastTimeChecked": 1772489965, "possibleDuplicates": ["19cb0a29f4afc9df"]}}, "meta": null, "pinData": {}, "versionId": "6552685f-a91c-4638-ac9e-c6e075c9b8d4", "activeVersionId": "6552685f-a91c-4638-ac9e-c6e075c9b8d4", "versionCounter": 1043, "triggerCount": 1, "shared": [{"updatedAt": "2026-02-27T03:05:47.376Z", "createdAt": "2026-02-27T03:05:47.376Z", "role": "workflow:owner", "workflowId": "G6kZgyHCK0qHNhRj", "projectId": "AyFYj8ev1hBER3zO", "project": {"updatedAt": "2026-02-26T09:07:37.733Z", "createdAt": "2026-02-26T07:53:31.019Z", "id": "AyFYj8ev1hBER3zO", "name": "Randall raustinholland@gmail.com <raustinholland@gmail.com>", "type": "personal", "icon": null, "description": null, "creatorId": "8a968d0b-280d-4856-b867-bed874846716"}}], "tags": [], "activeVersion": {"updatedAt": "2026-03-03T01:12:49.088Z", "createdAt": "2026-03-03T01:12:49.088Z", "versionId": "6552685f-a91c-4638-ac9e-c6e075c9b8d4", "workflowId": "G6kZgyHCK0qHNhRj", "nodes": [{"parameters": {"operation": "executeQuery", "query": "SELECT id FROM ingestion_log WHERE message_id = '{{ $json.id }}' OR (subject IS NOT NULL AND subject != '' AND LOWER(subject) = '{{ $json.norm_subject.replace(/'/g, \"''\") }}' AND sender_email LIKE '%{{ $json.sender_domain_dedup }}%') LIMIT 1", "options": {}}, "id": "check-duplicate", "name": "Postgres: Check Duplicate", "type": "n8n-nodes-base.postgres", "typeVersion": 2, "position": [912, 208], "credentials": {"postgres": {"id": "WwO5ZGy91Fw5lSFo", "name": "Clearwater Postgres"}}}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose"}, "conditions": [{"id": "dedup-check", "leftValue": "={{ $json.id }}", "rightValue": "", "operator": {"type": "string", "operation": "empty", "singleValue": true}}], "combinator": "and"}, "options": {}}, "id": "is-new", "name": "Is New Email?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1136, 208]}, {"parameters": {"method": "POST", "url": "https://api.anthropic.com/v1/messages", "authentication": "predefinedCredentialType", "nodeCredentialType": "anthropicApi", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "anthropic-version", "value": "2023-06-01"}, {"name": "content-type", "value": "application/json"}]}, "sendBody": true, "contentType": "raw", "rawContentType": "application/json", "body": "={{ $json.classify_request_body }}", "options": {}}, "id": "classify-email", "name": "AI: Classify & Attribute Email", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [1560, 208], "credentials": {"anthropicApi": {"id": "6NnFWUY71nO8HiT2", "name": "Anthropic account"}}}, {"parameters": {"jsCode": "// Parse Anthropic classification response and merge with normalized Outlook email data.\n// Input comes exclusively from the Power Automate \u2192 Outlook webhook pipeline.\n// Upstream: Code: Normalize Outlook Payload \u2192 Code: Normalize For Dedup \u2192 AI: Classify\n// emailData fields: id, From, Subject, Date, text, snippet, outlookAttachments, source\n\nconst response = $input.first().json;\nconst rawText = response.text || response.content?.[0]?.text || '{}';\n\nlet classification;\ntry {\n  const cleaned = rawText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  classification = JSON.parse(cleaned);\n} catch (e) {\n  classification = {\n    company_name: 'Unknown',\n    sender_domain: 'unknown',\n    doc_type: 'email_body',\n    deal_indicators: [],\n    guessed_deal_company: 'Unknown',\n    confidence: 'low',\n    confidence_score: 0.1,\n    reasoning: 'Parse error: ' + e.message\n  };\n}\n\n// Read normalized email data from upstream Outlook pipeline\nconst emailData = $('Code: Normalize For Dedup').first().json;\n\nconst senderEmail = emailData.From || '';\nconst subject     = emailData.Subject || '';\nconst emailDate   = emailData.Date || new Date().toISOString();\nconst fullText    = emailData.text || emailData.snippet || '';\nconst messageId   = emailData.id || '';\n\n// Extract sender domain (handles 'Name <email@domain.com>' format)\nfunction extractDomain(emailStr) {\n  const match = emailStr.match(/<([^>]+)>/) || emailStr.match(/([^\\s@]+@[^\\s>]+)/);\n  const addr = match ? match[1] : emailStr;\n  const parts = addr.split('@');\n  return parts.length === 2 ? parts[1].toLowerCase().trim() : 'unknown';\n}\nconst resolvedDomain = extractDomain(senderEmail) || classification.sender_domain || 'unknown';\n\nreturn [{\n  json: {\n    ...classification,\n    sender_domain: resolvedDomain,\n    message_id: messageId,\n    subject: subject,\n    sender_email: senderEmail,\n    email_date: emailDate,\n    text: fullText,\n    html: '',\n    attachments: emailData.outlookAttachments || [],\n    source: 'outlook'\n  }\n}];\n"}, "id": "parse-classification", "name": "Code: Parse Classification", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1584, 208]}, {"parameters": {"rules": {"values": [{"conditions": {"conditions": [{"leftValue": "={{ $json.confidence }}", "rightValue": "high", "operator": {"operation": "equals"}}]}, "renameOutput": true, "outputKey": "high"}, {"conditions": {"conditions": [{"leftValue": "={{ $json.confidence }}", "rightValue": "medium", "operator": {"operation": "equals"}}]}, "renameOutput": true, "outputKey": "medium"}, {"conditions": {"conditions": [{"leftValue": "={{ $json.confidence }}", "rightValue": "low", "operator": {"operation": "equals"}}]}, "renameOutput": true, "outputKey": "low"}]}, "options": {}}, "id": "confidence-router", "name": "Route by Confidence", "type": "n8n-nodes-base.switch", "typeVersion": 3, "position": [1808, 192]}, {"parameters": {"operation": "executeQuery", "query": "SELECT deal_id, company_name FROM deals WHERE ('{{ $json.sender_domain }}' = ANY(sender_domains) OR LOWER(company_name) LIKE LOWER('%{{ $json.guessed_deal_company }}%')) AND is_active = TRUE LIMIT 1", "options": {}}, "id": "lookup-deal-high", "name": "Postgres: Lookup Deal (High)", "type": "n8n-nodes-base.postgres", "typeVersion": 2, "position": [2032, 136], "credentials": {"postgres": {"id": "WwO5ZGy91Fw5lSFo", "name": "Clearwater Postgres"}}}, {"parameters": {"operation": "executeQuery", "query": "INSERT INTO attribution_queue (message_id, sender_email, sender_domain, subject, email_date, ai_guess_company, ai_confidence, doc_type) VALUES ('{{ $json.message_id }}', '{{ $json.sender_email }}', '{{ $json.sender_domain }}', '{{ $json.subject }}', '{{ $json.email_date }}', '{{ $json.guessed_deal_company }}', {{ $json.confidence_score }}, '{{ $json.doc_type }}') ON CONFLICT (message_id) DO NOTHING", "options": {}}, "id": "queue-for-confirm", "name": "Postgres: Queue for Confirmation", "type": "n8n-nodes-base.postgres", "typeVersion": 2, "position": [2256, 328], "credentials": {"postgres": {"id": "WwO5ZGy91Fw5lSFo", "name": "Clearwater Postgres"}}}, {"parameters": {"jsCode": "// Low-confidence emails still get ingested \u2014 just tagged as 'unattributed'\n// so they're searchable once Austin confirms the deal in the attribution queue.\nconst emailData = $('Code: Parse Classification').first().json;\nreturn [{\n  json: {\n    ...emailData,\n    deal_id: 'unattributed',\n    qdrant_namespace: 'unattributed',\n    attribution_confidence: 'low',\n    is_new_deal: false,\n    company_name: emailData.guessed_deal_company || emailData.company_name || 'Unknown'\n  }\n}];\n"}, "id": "assign-unattributed", "name": "Code: Assign Unattributed Deal ID", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2480, 328]}, {"parameters": {"jsCode": "// Build deal_id from matched deal or generate a slug\n// Always pull email data from Parse Classification (upstream of Postgres lookup)\nconst emailData = $('Code: Parse Classification').first().json;\nconst dealLookup = $('Postgres: Lookup Deal (High)').first()?.json;\n\nlet deal_id = dealLookup?.deal_id;\nif (!deal_id) {\n  const company = (emailData.guessed_deal_company || emailData.company_name || 'unknown')\n    .toLowerCase()\n    .replace(/[^a-z0-9]/g, '_')\n    .replace(/_+/g, '_')\n    .substring(0, 32);\n  const year = new Date().getFullYear();\n  deal_id = `cw_${company}_${year}`;\n}\n\n// If new deal (not found in deals table), insert it\nconst isNewDeal = !dealLookup?.deal_id;\n\nreturn [{\n  json: {\n    ...emailData,\n    deal_id,\n    qdrant_namespace: deal_id,\n    attribution_confidence: emailData.confidence,\n    is_new_deal: isNewDeal,\n    company_name: dealLookup?.company_name || emailData.company_name || emailData.guessed_deal_company\n  }\n}];\n"}, "id": "assign-deal-id", "name": "Code: Assign Deal ID", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2256, 136]}, {"parameters": {"mode": "expression", "numberOutputs": 5, "output": "={{ {'calendar_invite':0,'email_body':1,'call_transcript':2,'pdf_attachment':3}.hasOwnProperty($json.doc_type) ? {'calendar_invite':0,'email_body':1,'call_transcript':2,'pdf_attachment':3}[$json.doc_type] : 4 }}"}, "id": "doc-type-router", "name": "Route by Document Type", "type": "n8n-nodes-base.switch", "typeVersion": 3, "position": [2928, 160]}, {"parameters": {"jsCode": "// Extract clean text from email body\nconst emailData = $input.first().json;\n\nlet text = emailData.text || emailData.snippet || '';\n\nif (!text && emailData.html) {\n  text = emailData.html\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nconst boilerplate = [\n  /CONFIDENTIALITY NOTICE[\\s\\S]*?$/i,\n  /This email and any attachments[\\s\\S]*?$/i,\n  /DISCLAIMER[\\s\\S]*?$/i,\n  /Sent from my iPhone/i,\n  /Get Outlook for/i\n];\nfor (const p of boilerplate) { text = text.replace(p, ''); }\n\nreturn [{ json: { ...emailData, extracted_text: text.trim(), extraction_method: 'email_body' } }];\n"}, "id": "extract-email-body", "name": "Code: Extract Email Body", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [3152, 64]}, {"parameters": {"operation": "extractFromFile"}, "id": "extract-pdf", "name": "Extract from File (PDF/DOCX/TXT)", "type": "n8n-nodes-base.extractFromFile", "typeVersion": 1, "position": [3376, 352]}, {"parameters": {"jsCode": "// Parse thread: split a forwarded/reply email thread into individual messages.\n// Each message gets its own sender, date, and body \u2014 so Qdrant gets accurate timestamps.\n// Falls back to treating the whole body as a single message if no thread structure detected.\n\nconst data = $input.first().json;\nconst rawText = data.extracted_text || data.text || '';\n\n// --- Thread splitter patterns (Gmail, Outlook, Apple Mail) ---\n// Pattern 1: Gmail forwarded message header\n//   ---------- Forwarded message ---------\n//   From: Name <email>\n//   Date: Wed, Jan 21, 2026 at 5:50 PM\nconst GMAIL_FWD = /^-{5,}\\s*Forwarded message\\s*-{5,}\\s*$/im;\n\n// Pattern 2: Gmail/Outlook reply quote header\n//   On Wed, Jan 21, 2026 at 5:50 PM Austin Holland <austin@...> wrote:\nconst REPLY_HEADER = /^On\\s+\\w{3},?\\s+\\w+\\s+\\d+,\\s+\\d{4}\\s+at\\s+[\\d:]+\\s*(AM|PM).*wrote:\\s*$/im;\n\n// Pattern 3: Outlook forwarded block\n//   From: Name <email>\n//   Sent: Wednesday, January 21, 2026 5:50 PM\n//   To: ...\n//   Subject: ...\nconst OUTLOOK_FWD = /^From:\\s*.+\\r?\\nSent:\\s*.+\\r?\\nTo:\\s*/im;\n\n// Helper: extract From/Date from a header block\nfunction parseHeaders(block) {\n  const fromMatch = block.match(/From:\\s*([^\\n\\r]+)/i);\n  const dateMatch = block.match(/(?:Date|Sent):\\s*([^\\n\\r]+)/i);\n  const fromRaw = fromMatch ? fromMatch[1].trim() : '';\n  const dateRaw = dateMatch ? dateMatch[1].trim() : '';\n\n  // Extract email address from 'Name <email>' or bare email\n  const emailMatch = fromRaw.match(/<([^>]+)>/) || fromRaw.match(/(\\S+@\\S+)/);\n  const senderEmail = emailMatch ? emailMatch[1] : fromRaw;\n\n  // Parse date \u2014 JS Date handles most formats gracefully\n  let dateCreated = data.email_date || new Date().toISOString();\n  if (dateRaw) {\n    const parsed = new Date(dateRaw);\n    if (!isNaN(parsed.getTime())) dateCreated = parsed.toISOString();\n  }\n\n  return { senderEmail, dateCreated };\n}\n\n// --- Split logic ---\nlet messages = [];\n\n// Try to split on Gmail forwarded header\nif (GMAIL_FWD.test(rawText)) {\n  const parts = rawText.split(GMAIL_FWD);\n  for (const part of parts) {\n    const trimmed = part.trim();\n    if (!trimmed) continue;\n    const { senderEmail, dateCreated } = parseHeaders(trimmed);\n    // Strip the header lines, keep the body\n    const body = trimmed.replace(/^(From:|Date:|To:|Cc:|Subject:)[^\\n]*\\n/gim, '').trim();\n    if (body.length > 50) messages.push({ senderEmail, dateCreated, body });\n  }\n}\n\n// Try reply-quote headers if no forwarded splits found\nif (messages.length <= 1) {\n  const parts = rawText.split(REPLY_HEADER);\n  if (parts.length > 1) {\n    messages = [];\n    for (const part of parts) {\n      const trimmed = part.trim();\n      if (!trimmed) continue;\n      // Reply headers appear as separators \u2014 try to parse date from preceding line\n      const { senderEmail, dateCreated } = parseHeaders(trimmed);\n      const body = trimmed.replace(/^On\\s+[^\\n]+wrote:/im, '').trim();\n      if (body.length > 50) messages.push({ senderEmail, dateCreated, body });\n    }\n  }\n}\n\n// Try Outlook forwarded block\nif (messages.length <= 1 && OUTLOOK_FWD.test(rawText)) {\n  const parts = rawText.split(/(?=^From:\\s*.+\\r?\\nSent:\\s*)/im);\n  if (parts.length > 1) {\n    messages = [];\n    for (const part of parts) {\n      const trimmed = part.trim();\n      if (!trimmed) continue;\n      const { senderEmail, dateCreated } = parseHeaders(trimmed);\n      const body = trimmed.replace(/^(From:|Sent:|To:|Cc:|Subject:)[^\\n]*\\n/gim, '').trim();\n      if (body.length > 50) messages.push({ senderEmail, dateCreated, body });\n    }\n  }\n}\n\n// Fallback: single message, no thread detected\nif (messages.length === 0) {\n  messages = [{ senderEmail: data.sender_email || '', dateCreated: data.email_date || new Date().toISOString(), body: rawText }];\n}\n\n// Sort chronologically (oldest first)\nmessages.sort((a, b) => new Date(a.dateCreated) - new Date(b.dateCreated));\n\n// Return one item per message, carrying all deal metadata but overriding sender/date per message\nreturn messages.map((msg, i) => ({\n  json: {\n    ...data,\n    extracted_text: msg.body,\n    sender_email: msg.senderEmail || data.sender_email,\n    email_date: msg.dateCreated,\n    thread_index: i,\n    thread_total: messages.length,\n    // Preserve original message_id but make each thread message unique for dedup\n    message_id: messages.length > 1 ? `${data.message_id}_t${i}` : data.message_id\n  }\n}));\n"}, "id": "parse-thread", "name": "Code: Parse Thread", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [3376, 136]}, {"parameters": {"jsCode": "// Merge extracted text with email metadata\nconst emailData = $input.first().json;\nconst extractedText = emailData.extracted_text || emailData.text || emailData.snippet || '';\n\nreturn [{ json: { ...emailData, extracted_text: extractedText } }];\n"}, "id": "merge-extracted", "name": "Code: Merge Extracted Text", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [3600, 232]}, {"parameters": {"jsCode": "// Contextual enrichment: prepend deal/doc context to extracted text\nconst data = $input.first().json;\n\n// For calendar invites, embeddable_text is already built by Code: Parse ICS\nif (data.doc_type === 'calendar_invite' && data.embeddable_text) {\n  return [{ json: { ...data, enriched_text: data.embeddable_text, extracted_text: data.embeddable_text } }];\n}\n\nconst dealId = data.deal_id || 'unknown';\nconst companyName = data.company_name || data.guessed_deal_company || 'Unknown Company';\nconst docType = data.doc_type || 'email';\nconst senderEmail = data.sender_email || '';\nconst rawText = data.extracted_text || '';\n\n// For call transcripts, try to extract the actual call date from the document content.\n// Transcripts are often forwarded days after the call occurred, so the Gmail Date header\n// reflects when the email was sent, not when the call happened.\n// Look for common transcript date patterns at the top of the document.\nfunction extractTranscriptDate(text) {\n  // Match patterns like:\n  //   Date: January 21, 2026\n  //   Date: 2026-01-21\n  //   Call Date: Wed, Jan 21, 2026\n  //   January 21, 2026  (standalone line near top)\n  const patterns = [\n    /^(?:call\\s+)?date[:\\s]+([\\w,\\s]+\\d{4})/im,\n    /^date[:\\s]+(\\d{4}-\\d{2}-\\d{2})/im,\n    /^(?:meeting|session|call)[\\s\\S]{0,40}?(\\b(?:january|february|march|april|may|june|july|august|september|october|november|december)\\s+\\d{1,2},?\\s+\\d{4})/im,\n    /\\b(\\d{4}-\\d{2}-\\d{2})\\b/,\n    /\\b((?:january|february|march|april|may|june|july|august|september|october|november|december)\\s+\\d{1,2},?\\s+\\d{4})\\b/i\n  ];\n  // Only scan the first 500 chars \u2014 date lines are always near the top\n  const sample = text.slice(0, 500);\n  for (const pattern of patterns) {\n    const match = sample.match(pattern);\n    if (match) {\n      const parsed = new Date(match[1]);\n      if (!isNaN(parsed.getTime())) return parsed.toISOString();\n    }\n  }\n  return null;\n}\n\nlet resolvedDate = data.email_date;\nif (docType === 'call_transcript') {\n  const transcriptDate = extractTranscriptDate(rawText);\n  if (transcriptDate) resolvedDate = transcriptDate;\n}\n\nconst emailDate = resolvedDate ? new Date(resolvedDate).toISOString().split('T')[0] : new Date().toISOString().split('T')[0];\n\nconst contextHeader = `[DEAL CONTEXT]\\nDeal: ${companyName} (ID: ${dealId})\\nDocument Type: ${docType}\\nDate: ${emailDate}\\nSource: ${senderEmail}\\n[END CONTEXT]\\n\\n`;\n\nconst enrichedText = contextHeader + rawText;\n\nreturn [{ json: { ...data, enriched_text: enrichedText, email_date: resolvedDate || data.email_date } }];\n"}, "id": "contextual-enrichment", "name": "Code: Contextual Enrichment", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [3824, 232]}, {"parameters": {"jsCode": "// Split enriched text into chunks, carrying all deal metadata forward.\n// call_transcript: sentence-boundary aware, chunkSize=2500, overlap=250\n//   \u2014 keeps full speaker utterances intact so CAS-scoring evidence\n//     (e.g. \"I would stagegate this...\") never splits across chunks.\n// All other doc types: fixed character split, chunkSize=1800, overlap=180\nconst data = $input.first().json;\nconst text = data.enriched_text || '';\nconst isTranscript = (data.doc_type === 'call_transcript');\nconst chunkSize    = isTranscript ? 2500 : 1800;\nconst chunkOverlap = isTranscript ? 250  : 180;\n\nlet chunks = [];\n\nif (isTranscript) {\n  // Sentence-boundary aware splitting for transcripts.\n  // Split on sentence-ending punctuation OR speaker-turn boundaries (\"Name: \").\n  // Regex: split AFTER . ? ! followed by whitespace+capital, OR at a newline\n  // followed by a word and colon (speaker label like \"Austin:\" or \"Brad:\").\n  const sentenceBreak = /(?<=[.?!])\\s+(?=[A-Z])|(?=\\n[A-Za-z][^:\\n]{0,30}:)/g;\n  const sentences = text.split(sentenceBreak).filter(s => s.trim().length > 0);\n\n  let current = '';\n  for (const sentence of sentences) {\n    if (current.length + sentence.length > chunkSize && current.length > 0) {\n      chunks.push(current.trim());\n      // Overlap: keep the tail of the current chunk as the start of the next\n      const overlapStart = current.length > chunkOverlap\n        ? current.length - chunkOverlap\n        : 0;\n      current = current.slice(overlapStart) + ' ' + sentence;\n    } else {\n      current += (current.length > 0 ? ' ' : '') + sentence;\n    }\n  }\n  if (current.trim().length > 0) chunks.push(current.trim());\n\n} else {\n  // Fixed character split for emails, PDFs, and everything else\n  let start = 0;\n  while (start < text.length) {\n    const end = Math.min(start + chunkSize, text.length);\n    chunks.push(text.slice(start, end));\n    if (end === text.length) break;\n    start = end - chunkOverlap;\n  }\n}\n\nreturn chunks.map((chunk, index) => ({\n  json: {\n    ...data,\n    chunk_text: chunk,\n    chunk_index: index,\n    total_chunks: chunks.length\n  }\n}));\n"}, "id": "chunk-text", "name": "Code: Chunk Text", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [4048, 232]}, {"parameters": {"method": "POST", "url": "https://api.openai.com/v1/embeddings", "authentication": "predefinedCredentialType", "nodeCredentialType": "openAiApi", "sendBody": true, "contentType": "raw", "rawContentType": "application/json", "body": "={{ JSON.stringify({ model: 'text-embedding-3-small', input: $json.chunk_text }) }}", "options": {}}, "id": "embed-chunk", "name": "HTTP: Embed Chunk", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [4272, 232], "credentials": {"openAiApi": {"id": "0uPlAmGz2rZbF75R", "name": "OpenAI API"}}}, {"parameters": {"jsCode": "// Build Qdrant point with embedding + full metadata payload\n// HTTP Request nodes break paired item chains in n8n \u2014 retrieve chunk data\n// by matching on chunk_index from all Code: Chunk Text outputs.\nconst allItems = $input.all();\nconst allChunks = $('Code: Chunk Text').all();\n\n// UUID v4 without require('crypto') \u2014 n8n sandbox blocks it\nfunction uuidv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n  });\n}\n\n// Build one point per item in input (each is one OpenAI embed response)\nreturn allItems.map((item, i) => {\n  const embedding = item.json.data?.[0]?.embedding;\n  if (!embedding) throw new Error(`No embedding at index ${i}`);\n  // Match chunk by index \u2014 allChunks and allItems are in the same order\n  const chunkData = (allChunks[i] || allChunks[0]).json;\n  const point = {\n    id: uuidv4(),\n    vector: embedding,\n    payload: {\n      deal_id: chunkData.deal_id || 'unknown',\n      company_name: chunkData.company_name || chunkData.guessed_deal_company || 'Unknown',\n      doc_type: chunkData.doc_type || 'email_body',\n      sender_domain: chunkData.sender_domain || '',\n      attribution_confidence: chunkData.attribution_confidence || 'low',\n      date_created: chunkData.email_date || '',\n      message_id: chunkData.message_id || '',\n      chunk_index: chunkData.chunk_index || i,\n      page_content: chunkData.chunk_text || ''\n    }\n  };\n  return { json: { point, ...chunkData } };\n});\n"}, "id": "build-qdrant-point", "name": "Code: Build Qdrant Point", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [4496, 232]}, {"parameters": {"method": "PUT", "url": "http://qdrant:6333/collections/deals/points", "sendBody": true, "contentType": "raw", "rawContentType": "application/json", "body": "={{ JSON.stringify({ points: [$json.point] }) }}", "options": {}}, "id": "qdrant-upsert", "name": "HTTP: Qdrant Upsert", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [4720, 232]}, {"parameters": {"operation": "executeQuery", "query": "INSERT INTO ingestion_log (message_id, deal_id, attribution_confidence, attribution_status, sender_email, sender_domain, subject, doc_type, attachment_count, chunk_count, qdrant_namespace) VALUES ('{{ $('Code: Count Chunks').first().json.message_id }}', '{{ $('Code: Count Chunks').first().json.deal_id }}', '{{ $('Code: Count Chunks').first().json.attribution_confidence }}', 'processed', '{{ $('Code: Count Chunks').first().json.sender_email }}', '{{ $('Code: Count Chunks').first().json.sender_domain }}', '{{ $('Code: Count Chunks').first().json.subject }}', '{{ $('Code: Count Chunks').first().json.doc_type }}', 0, {{ $('Code: Count Chunks').first().json.chunk_count }}, '{{ $('Code: Count Chunks').first().json.qdrant_namespace }}') ON CONFLICT (message_id) DO NOTHING", "options": {}}, "id": "log-ingestion", "name": "Postgres: Log Ingestion", "type": "n8n-nodes-base.postgres", "typeVersion": 2, "position": [5168, 232], "credentials": {"postgres": {"id": "WwO5ZGy91Fw5lSFo", "name": "Clearwater Postgres"}}}, {"parameters": {"method": "POST", "url": "http://localhost:5678/webhook/deal-health-trigger", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ deal_id: $('Code: Count Chunks').first().json.deal_id, trigger_message_id: $('Code: Count Chunks').first().json.message_id, trigger_type: 'new_ingestion' }) }}", "options": {}}, "id": "trigger-health-agent", "name": "HTTP: Trigger Health Agent", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [5392, 232], "continueOnFail": true}, {"parameters": {"operation": "executeQuery", "query": "INSERT INTO deals (deal_id, company_name, sender_domains, deal_stage, deal_owner, is_active) VALUES ('{{ $json.deal_id }}', '{{ $json.company_name }}', ARRAY['{{ $json.sender_domain }}'], 'discover', 'austin.holland@clearwatersecurity.com', true) ON CONFLICT (deal_id) DO NOTHING", "options": {}}, "id": "upsert-deal", "name": "Postgres: Upsert Deal", "type": "n8n-nodes-base.postgres", "typeVersion": 2, "position": [2480, 136], "credentials": {"postgres": {"id": "WwO5ZGy91Fw5lSFo", "name": "Clearwater Postgres"}}}, {"parameters": {"jsCode": "// Pull deal metadata from the attribution node (Postgres: Upsert Deal outputs {success:true})\n// Use Code: Assign Deal ID as the source of truth for deal metadata\nlet dealData;\ntry {\n  dealData = $('Code: Assign Deal ID').first().json;\n} catch(e) {\n  dealData = $('Code: Assign Unattributed Deal ID').first().json;\n}\nreturn [{ json: dealData }];"}, "id": "passthrough-deal", "name": "Code: Pass Deal Data", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2704, 208]}, {"parameters": {"jsCode": "// Count how many chunks were upserted into Qdrant.\n// $input.first().json here is the Qdrant API response \u2014 not chunk metadata.\n// Code: Build Qdrant Point spreads ...chunkData (with message_id, deal_id, etc.)\n// so we pull directly from that node by name.\nconst enrichData = $('Code: Build Qdrant Point').first().json;\nconst chunkCount = enrichData.total_chunks || $('Code: Build Qdrant Point').all().length;\nreturn [{ json: { ...enrichData, chunk_count: chunkCount } }];"}, "id": "count-chunks", "name": "Code: Count Chunks", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [4944, 232]}, {"parameters": {"jsCode": "// Normalise email fields for content-level dedup\n// Strips FW:/Re:/Fwd: prefix from subject so forwarded copies are caught\nconst msg = $input.first().json;\n\nfunction getHeader(headers, name) {\n  if (!headers) return '';\n  const h = headers.find(h => h.name.toLowerCase() === name.toLowerCase());\n  return h ? h.value : '';\n}\nconst headers = msg.payload?.headers || [];\nconst rawSubject = msg.Subject || msg.subject || getHeader(headers, 'Subject') || '';\nconst rawFrom    = msg.From    || msg.from    || getHeader(headers, 'From')    || '';\n\n// Strip reply/forward prefixes recursively\nconst normSubject = rawSubject.replace(/^(fw:|re:|fwd:|forward:)\\s*/gi, '').trim().toLowerCase();\n\n// Extract domain from From header  'Name <email@domain.com>' or 'email@domain.com'\nconst addrMatch = rawFrom.match(/<([^>]+)>/) || rawFrom.match(/(\\S+@\\S+)/);\nconst senderAddr = addrMatch ? addrMatch[1] : rawFrom;\nconst domain = senderAddr.includes('@') ? senderAddr.split('@')[1].toLowerCase().replace(/['>]/g,'') : '';\n\nreturn [{ json: { ...msg, norm_subject: normSubject, sender_domain_dedup: domain } }];\n"}, "id": "aabbccdd-1122-3344-5566-778899aabbcc", "name": "Code: Normalize For Dedup", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [688, 208]}, {"parameters": {"httpMethod": "POST", "path": "outlook-email-ingest", "options": {}}, "id": "outlook-webhook-0001-0000-0000-000000000001", "name": "Webhook: Receive Outlook Email", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [240, 208], "webhookId": "805c803c-7239-492a-a55c-f3dbd2d60687"}, {"parameters": {"jsCode": "// Normalize Power Automate Outlook payload to match Gmail field shape\n// Expected PA payload:\n// { messageId, subject, from, to, sentAt, bodyContent, attachments: [{name, contentType, contentBytes}] }\nconst body = $input.first().json.body || $input.first().json;\n\nconst messageId = String(body.messageId || body.message_id || '');\nconst subject   = body.subject || '';\nconst from      = body.from || '';\nconst to        = body.to || '';\nconst sentAt    = body.sentAt || body.sent_at || new Date().toISOString();\nconst text      = body.bodyContent || body.body_content || '';\nconst attachments = body.attachments || [];\n\nreturn [{\n  json: {\n    // Mimic Gmail message shape so downstream nodes work unchanged\n    id: messageId,\n    Subject: subject,\n    From: from,\n    To: to,\n    Date: sentAt,\n    // Pre-extracted text \u2014 Code: Extract Email Body will use this directly\n    text: text,\n    snippet: text.substring(0, 200),\n    // Attachments as base64 array \u2014 Route by Document Type will handle these\n    outlookAttachments: attachments,\n    // Flag so downstream nodes know this came from Outlook not Gmail\n    source: 'outlook'\n  }\n}];"}, "id": "normalize-outlook-0001-0000-0000-000000000001", "name": "Code: Normalize Outlook Payload", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [464, 208]}, {"id": "7dbcf2ca-968b-436b-afdf-cca28a2d1ce0", "name": "Code: Build Classify Request", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1160, 208], "parameters": {"jsCode": "const d = $('Code: Normalize For Dedup').first().json;\nconst from = d.From || d.from || 'unknown';\nconst subject = d.Subject || d.subject || '(no subject)';\nconst bodyText = (d.text ?? d.snippet ?? '').slice(0, 2000);\n\nconst prompt = `You are a deal attribution classifier for Clearwater Security & Compliance. Analyze this email and return ONLY a JSON object (no markdown, no code fences) with these exact fields:\n{\n  \"company_name\": \"<company name or Unknown>\",\n  \"sender_domain\": \"<domain from sender email>\",\n  \"doc_type\": \"<email_body|call_transcript|pdf_attachment|pptx_attachment|csv_attachment|calendar_invite|other>\",\n  \"deal_indicators\": [],\n  \"guessed_deal_company\": \"<company name>\",\n  \"confidence\": \"<high|medium|low>\",\n  \"confidence_score\": 0.0,\n  \"reasoning\": \"<one sentence>\"\n}\n\nCLASSIFICATION RULES (apply in order):\n\nRULE 1 - doc_type from subject line (overrides body inference):\nIf the subject contains \"transcript\", \"call transcript\", \"recording\", or \"call notes\" set doc_type to call_transcript, regardless of sender or body content.\nIf the subject contains \"calendar invite\" or the body contains BEGIN:VCALENDAR/DTSTART/DTEND set doc_type to calendar_invite.\n\nRULE 2 - company attribution when sender is internal (clearwatersecurity.com):\nIf the sender domain is clearwatersecurity.com, do NOT use the sender to identify the deal company.\nExtract the prospect company name from the subject line (e.g. \"Velentium\" from \"FW: Call Transcript - Velentium | Clearwater\").\nSet guessed_deal_company to that company name and confidence to high if a company name is clearly present in the subject.\nIf no company name can be extracted from the subject, set confidence to low.\n\nRULE 3 - company attribution when sender is external:\nUse the sender domain to identify the deal company. High confidence if the domain is a recognizable company. Low confidence if the domain is generic (gmail.com, outlook.com, etc.).\n\nRULE 4 - calendar invite override:\nIf the subject/body contains calendar invite markers (BEGIN:VCALENDAR, DTSTART, DTEND, SUMMARY, ORGANIZER, ATTENDEE) then set doc_type to calendar_invite regardless of other content.\n\nEmail details:\nFrom: ${from}\nSubject: ${subject}\n\nBody (first 2000 chars): ${bodyText}`;\n\nconst requestBody = JSON.stringify({\n  model: 'claude-sonnet-4-6',\n  max_tokens: 1024,\n  messages: [{ role: 'user', content: prompt }]\n});\n\nreturn [{ json: { classify_request_body: requestBody } }];\n"}}], "connections": {"Postgres: Check Duplicate": {"main": [[{"node": "Is New Email?", "type": "main", "index": 0}]]}, "Is New Email?": {"main": [[{"node": "Code: Build Classify Request", "type": "main", "index": 0}], []]}, "AI: Classify & Attribute Email": {"main": [[{"node": "Code: Parse Classification", "type": "main", "index": 0}]]}, "Code: Parse Classification": {"main": [[{"node": "Route by Confidence", "type": "main", "index": 0}]]}, "Route by Confidence": {"main": [[{"node": "Postgres: Lookup Deal (High)", "type": "main", "index": 0}], [{"node": "Postgres: Lookup Deal (High)", "type": "main", "index": 0}], [{"node": "Postgres: Queue for Confirmation", "type": "main", "index": 0}]]}, "Postgres: Lookup Deal (High)": {"main": [[{"node": "Code: Assign Deal ID", "type": "main", "index": 0}]]}, "Code: Assign Deal ID": {"main": [[{"node": "Postgres: Upsert Deal", "type": "main", "index": 0}]]}, "Postgres: Queue for Confirmation": {"main": [[{"node": "Code: Assign Unattributed Deal ID", "type": "main", "index": 0}]]}, "Code: Assign Unattributed Deal ID": {"main": [[{"node": "Code: Pass Deal Data", "type": "main", "index": 0}]]}, "Postgres: Upsert Deal": {"main": [[{"node": "Code: Pass Deal Data", "type": "main", "index": 0}]]}, "Code: Pass Deal Data": {"main": [[{"node": "Route by Document Type", "type": "main", "index": 0}]]}, "Route by Document Type": {"main": [[], [{"node": "Code: Extract Email Body", "type": "main", "index": 0}], [{"node": "Code: Parse Thread", "type": "main", "index": 0}], [{"node": "Extract from File (PDF/DOCX/TXT)", "type": "main", "index": 0}], []]}, "Code: Extract Email Body": {"main": [[{"node": "Code: Parse Thread", "type": "main", "index": 0}]]}, "Code: Parse Thread": {"main": [[{"node": "Code: Merge Extracted Text", "type": "main", "index": 0}]]}, "Extract from File (PDF/DOCX/TXT)": {"main": [[{"node": "Code: Merge Extracted Text", "type": "main", "index": 0}]]}, "Code: Merge Extracted Text": {"main": [[{"node": "Code: Contextual Enrichment", "type": "main", "index": 0}]]}, "Code: Contextual Enrichment": {"main": [[{"node": "Code: Chunk Text", "type": "main", "index": 0}]]}, "Code: Chunk Text": {"main": [[{"node": "HTTP: Embed Chunk", "type": "main", "index": 0}]]}, "HTTP: Embed Chunk": {"main": [[{"node": "Code: Build Qdrant Point", "type": "main", "index": 0}]]}, "Code: Build Qdrant Point": {"main": [[{"node": "HTTP: Qdrant Upsert", "type": "main", "index": 0}]]}, "HTTP: Qdrant Upsert": {"main": [[{"node": "Code: Count Chunks", "type": "main", "index": 0}]]}, "Postgres: Log Ingestion": {"main": [[{"node": "HTTP: Trigger Health Agent", "type": "main", "index": 0}]]}, "Code: Count Chunks": {"main": [[{"node": "Postgres: Log Ingestion", "type": "main", "index": 0}]]}, "Code: Normalize For Dedup": {"main": [[{"node": "Postgres: Check Duplicate", "type": "main", "index": 0}]]}, "Webhook: Receive Outlook Email": {"main": [[{"node": "Code: Normalize Outlook Payload", "type": "main", "index": 0}]]}, "Code: Normalize Outlook Payload": {"main": [[{"node": "Code: Normalize For Dedup", "type": "main", "index": 0}]]}, "Code: Build Classify Request": {"main": [[{"node": "AI: Classify & Attribute Email", "type": "main", "index": 0}]]}}, "authors": "Randall raustinholland@gmail.com", "name": null, "description": null, "autosaved": false, "workflowPublishHistory": [{"createdAt": "2026-03-03T01:12:49.147Z", "id": 600, "workflowId": "G6kZgyHCK0qHNhRj", "versionId": "6552685f-a91c-4638-ac9e-c6e075c9b8d4", "event": "deactivated", "userId": "8a968d0b-280d-4856-b867-bed874846716"}, {"createdAt": "2026-03-03T01:12:49.168Z", "id": 601, "workflowId": "G6kZgyHCK0qHNhRj", "versionId": "6552685f-a91c-4638-ac9e-c6e075c9b8d4", "event": "activated", "userId": "8a968d0b-280d-4856-b867-bed874846716"}]}}