deal-intelligence-engine/n8n/workflows/workflow-03-output-gen.json
{"updatedAt": "2026-03-02T05:16:03.502Z", "createdAt": "2026-02-28T04:28:28.506Z", "id": "Lg6uKXjGeedojMOQ", "name": "Agent 3: Output Generation", "description": null, "active": true, "isArchived": false, "nodes": [{"parameters": {"httpMethod": "POST", "path": "output-request", "responseMode": "responseNode", "options": {}}, "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890", "name": "Webhook: Output Request", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "webhookId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890", "position": [240, 432]}, {"parameters": {"jsCode": "// Extract and normalize the incoming request payload\nconst body = $input.first().json.body || {};\n\nif (!body.deal_id) throw new Error('Missing required field: deal_id');\nif (!body.output_type) throw new Error('Missing required field: output_type');\n\nreturn [{\n  json: {\n    deal_id: body.deal_id,\n    output_type: body.output_type,\n    recipient_email: body.recipient_email || null,\n    recipient_name: body.recipient_name || null,\n    instructions: body.instructions || '',\n    requested_by: body.requested_by || 'manual',\n    preview_mode: body.preview_mode === true || body.preview_mode === 'true'\n  }\n}];\n"}, "id": "c3d4e5f6-a7b8-9012-cdef-123456789012", "name": "Code: Normalize Request", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [464, 432]}, {"parameters": {"operation": "executeQuery", "query": "SELECT d.deal_id, d.company_name, d.salesforce_stage, d.deal_stage, d.deal_value_usd, d.close_date, d.forecast_category, d.deal_owner, dh.pain_score, dh.power_score, dh.vision_score, dh.value_score, dh.change_score, dh.control_score, dh.p2v2c2_total, dh.critical_activity_stage, dh.champion_name, dh.champion_title, dh.executive_sponsor_name, dh.executive_sponsor_title, dh.current_state_org, dh.current_state_activities, dh.current_state_technology, dh.future_state_org, dh.future_state_activities, dh.future_state_technology, dh.risks, dh.next_step, dh.next_step_date, dh.call_summary, dh.highlights, dh.action_items_prospect, dh.action_items_internal, dh.services_narrative, dh.general_narrative, dh.key_stakeholder_success_criteria, dh.dap_summary, dh.internal_team_update, dh.scored_at FROM deals d LEFT JOIN LATERAL (SELECT * FROM deal_health WHERE deal_id = d.deal_id ORDER BY scored_at DESC LIMIT 1) dh ON true WHERE d.deal_id = '{{ $('Code: Normalize Request').first().json.deal_id }}' LIMIT 1", "options": {}}, "id": "d4e5f6a7-b8c9-0123-defa-234567890123", "name": "Postgres: Get Deal + Health", "type": "n8n-nodes-base.postgres", "typeVersion": 2, "position": [912, 432], "credentials": {"postgres": {"id": "WwO5ZGy91Fw5lSFo", "name": "Clearwater Postgres"}}}, {"parameters": {"operation": "executeQuery", "query": "SELECT output_type, recipient_name, recipient_email, subject, content_summary, sent_at FROM outputs_log WHERE deal_id = '{{ $('Code: Normalize Request').first().json.deal_id }}' ORDER BY sent_at DESC LIMIT 15", "options": {}}, "id": "e5f6a7b8-c9d0-1234-efab-345678901234", "name": "Postgres: Get Output History", "type": "n8n-nodes-base.postgres", "typeVersion": 2, "position": [912, 624], "credentials": {"postgres": {"id": "WwO5ZGy91Fw5lSFo", "name": "Clearwater Postgres"}}}, {"parameters": {"jsCode": "// Merge deal context, output history, and build RAG queries for the output type\nconst req = $('Code: Normalize Request').first().json;\nconst dealRows = $('Postgres: Get Deal + Health').all();\nconst historyRows = $('Postgres: Get Output History').all();\n\nconst deal = dealRows[0]?.json || {};\n\nif (!deal.deal_id) {\n  throw new Error(`Deal not found: ${req.deal_id}`);\n}\n\n// Format output history\nconst historyText = historyRows.length > 0\n  ? historyRows.map(r => {\n      const h = r.json;\n      const date = h.sent_at ? h.sent_at.toString().split('T')[0] : 'unknown';\n      const to = h.recipient_name || h.recipient_email || 'unknown';\n      return `- ${date}: [${h.output_type}] TO: ${to} \u2014 \"${h.subject || '(no subject)'}\" \u2014 ${h.content_summary || '(no summary)'}`;\n    }).join('\\n')\n  : 'No previous outputs have been generated for this deal.';\n\n// P2V2C2 summary string\nconst p2v2c2Summary = [\n  `Pain: ${deal.pain_score || 0}/5`,\n  `Power: ${deal.power_score || 0}/5`,\n  `Vision: ${deal.vision_score || 0}/5`,\n  `Value: ${deal.value_score || 0}/5`,\n  `Change: ${deal.change_score || 0}/5`,\n  `Control: ${deal.control_score || 0}/5`,\n  `Total: ${deal.p2v2c2_total || 0}/30`\n].join(' | ');\n\n// RAG queries tailored to output type\nconst co = deal.company_name;\nconst outputType = req.output_type;\n\nconst ragQueryBank = {\n  follow_up_email: [\n    `What was discussed in the most recent call or meeting with ${co}? What were the key outcomes and next steps agreed?`,\n    `What specific action items or commitments did Austin and ${co} make at the last touchpoint? What follow-ups are outstanding?`,\n    `What pain, urgency, or business problems has ${co} expressed that should be referenced in a follow-up communication?`,\n    `What Clearwater services or solutions were proposed or discussed with ${co}?`\n  ],\n  pre_call_planner: [\n    `What are the key open questions, risks, and outstanding action items with ${co} going into the next meeting?`,\n    `What pain and urgency has ${co} articulated? What power dynamics and executive sponsor access exists?`,\n    `What is the current state and desired future state for ${co}'s cybersecurity and compliance program?`,\n    `Who are the key stakeholders at ${co}? What are their goals, titles, and decision-making roles?`,\n    `What Clearwater services and engagement approach has been discussed with ${co}?`,\n    `What objections, competitive threats, or obstacles exist in the ${co} deal?`\n  ],\n  internal_team_update: [\n    `What happened in the most recent call or meeting with ${co}? What were the key discussion points and outcomes?`,\n    `What is the deal status with ${co}? What are the current P2V2C2 signals and executive sponsor dynamics?`,\n    `What are the open risks, next steps, and action items for the ${co} deal?`,\n    `What PE or board-level pressure or executive sponsor dynamics exist in the ${co} deal?`\n  ],\n  circle_back: [\n    `What was the last communication or meeting with ${co}? How long ago was contact made?`,\n    `What pain or urgency did ${co} express? What was the last agreed next step?`,\n    `What Clearwater services were discussed with ${co}? What value proposition was presented?`\n  ],\n  meeting_confirm: [\n    `What is the agenda and objectives for the upcoming meeting with ${co}?`,\n    `What action items and next steps were agreed with ${co} that this meeting is meant to address?`,\n    `Who are the key attendees and their roles at ${co} for the upcoming meeting?`\n  ],\n  approach_pdf: [\n    `What is ${co}'s current cybersecurity and compliance posture? What gaps and pain points exist?`,\n    `What future state has been co-created with ${co}? What are their compliance goals and desired capabilities?`,\n    `What Clearwater services have been proposed or discussed for ${co}? What is the recommended engagement scope?`,\n    `What is the key value proposition and ROI for ${co} working with Clearwater?`,\n    `Who are the key stakeholders at ${co} and what are their individual success criteria?`,\n    `What are the key risks and objections in the ${co} deal that the Approach Document should address?`\n  ]\n};\n\nconst queries = ragQueryBank[outputType] || ragQueryBank.follow_up_email;\n\nreturn queries.map((query, i) => ({\n  json: {\n    deal_id: req.deal_id,\n    output_type: req.output_type,\n    recipient_email: req.recipient_email,\n    recipient_name: req.recipient_name,\n    instructions: req.instructions,\n    requested_by: req.requested_by,\n    preview_mode: req.preview_mode,\n    company_name: co,\n    deal,\n    history_text: historyText,\n    p2v2c2_summary: p2v2c2Summary,\n    rag_query: query,\n    rag_index: i\n  }\n}));\n"}, "id": "f6a7b8c9-d0e1-2345-fabc-456789012345", "name": "Code: Merge Context + Build RAG Queries", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1136, 528]}, {"parameters": {"method": "POST", "url": "https://api.openai.com/v1/embeddings", "authentication": "predefinedCredentialType", "nodeCredentialType": "openAiApi", "sendBody": true, "contentType": "raw", "rawContentType": "application/json", "body": "={{ JSON.stringify({ model: 'text-embedding-3-small', input: $json.rag_query }) }}", "options": {}}, "id": "a7b8c9d0-e1f2-3456-abcd-567890123456", "name": "HTTP: Embed RAG Query", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [1360, 528], "credentials": {"openAiApi": {"id": "0uPlAmGz2rZbF75R", "name": "OpenAI API"}}}, {"parameters": {"method": "POST", "url": "http://qdrant:6333/collections/deals/points/search", "sendBody": true, "contentType": "raw", "rawContentType": "application/json", "body": "={{ JSON.stringify({ vector: $json.data[0].embedding, filter: { must: [{ key: 'deal_id', match: { value: $('Code: Merge Context + Build RAG Queries').item.json.deal_id } }] }, limit: 8, with_payload: true, with_vector: false }) }}", "options": {}}, "id": "b8c9d0e1-f2a3-4567-bcde-678901234567", "name": "HTTP: Qdrant Search", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [1584, 528]}, {"parameters": {"jsCode": "// Assemble all RAG results into a unified context block\nconst allSearchResults = $input.all();\nconst allQueryItems = $('Code: Merge Context + Build RAG Queries').all();\nconst baseData = allQueryItems[0].json;\n\nconst chunks = [];\n\nallSearchResults.forEach((item, i) => {\n  const results = item.json.result || [];\n\n  results\n    .filter(r => (r.score || 0) > 0.25)\n    .forEach(r => {\n      const p = r.payload || {};\n      const date = p.date_created ? new Date(p.date_created).toISOString().split('T')[0] : 'unknown date';\n      chunks.push(`[${p.doc_type || 'document'}, ${date}]\\n${p.page_content || ''}`);\n    });\n});\n\n// Dedupe chunks by content\nconst seen = new Set();\nconst uniqueChunks = chunks.filter(c => {\n  const key = c.slice(0, 100);\n  if (seen.has(key)) return false;\n  seen.add(key);\n  return true;\n});\n\nconst ragContext = uniqueChunks.length > 0\n  ? uniqueChunks.join('\\n\\n---\\n\\n')\n  : 'No relevant deal content found in Qdrant for this deal.';\n\nreturn [{\n  json: {\n    deal_id: baseData.deal_id,\n    output_type: baseData.output_type,\n    recipient_email: baseData.recipient_email,\n    recipient_name: baseData.recipient_name,\n    instructions: baseData.instructions,\n    requested_by: baseData.requested_by,\n    preview_mode: baseData.preview_mode,\n    company_name: baseData.company_name,\n    deal: baseData.deal,\n    history_text: baseData.history_text,\n    p2v2c2_summary: baseData.p2v2c2_summary,\n    rag_context: ragContext\n  }\n}];\n"}, "id": "c9d0e1f2-a3b4-5678-cdef-789012345678", "name": "Code: Assemble RAG Context", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1808, 528]}, {"parameters": {"jsCode": "const ctx = $input.first().json;\nconst deal = ctx.deal;\nconst outputType = ctx.output_type;\nconst today = new Date().toISOString().split('T')[0];\n\n// Choose model based on output type\nconst model = ['approach_pdf', 'pre_call_planner'].includes(outputType)\n  ? 'claude-opus-4-6'\n  : 'claude-sonnet-4-6';\n\nconst maxTokens = outputType === 'approach_pdf' ? 4096\n  : outputType === 'pre_call_planner' ? 3000\n  : 1500;\n\n// Output-type-specific instructions\nconst outputInstructions = {\n  follow_up_email: `Write a SEND-READY follow-up email from Austin Holland to ${ctx.recipient_name || ctx.recipient_email} at ${ctx.company_name}.\n- Tone: Professional, warm, consultative \u2014 never pushy\n- Length: 150-250 words\n- Reference specific details from the deal content\n- Build on previous communications (never repeat same talking points)\n- Address ALL relevant attendees from the most recent call or meeting (infer from deal content and RAG context \u2014 use a group salutation like 'Travis and Uday,' if multiple people attended)\n- End with a clear, specific next step or call to action\n- Sign off as: Austin Holland | Clearwater Security & Compliance`,\n\n  pre_call_planner: `Create a comprehensive PRE-CALL PLANNER for Austin Holland preparing for an upcoming meeting with ${ctx.company_name}.\nInclude these sections:\n## MEETING OBJECTIVE\n## KEY ATTENDEES & ROLES\n## DEAL STATUS (P2V2C2 Summary)\n## PAIN POINTS TO REFERENCE\n## CPS TALKING POINTS (aligned to current stage: ${deal.critical_activity_stage || deal.deal_stage || 'discover'})\n## OPEN QUESTIONS TO ASK\n## ANTICIPATED OBJECTIONS & RESPONSES\n## DESIRED OUTCOMES FROM THIS MEETING\n## NEXT STEPS TO PROPOSE\nBe specific. Use names. Reference actual deal evidence.`,\n\n  internal_team_update: `Write an INTERNAL TEAM UPDATE for the ${ctx.company_name} deal.\nFormat: Exactly TWO paragraphs of narrative prose. NO bullets. NO section headers.\nParagraph 1: Current state \u2014 where it came from, client situation, key players, pain, PE/board dynamics. Analytical, specific.\nParagraph 2: Strategic trajectory \u2014 what Clearwater must do, urgency, winning strategy. Forward-looking, inferential, dry wit.\nTone reference: Astute, eloquent, professional with subtle sarcasm about corporate behaviors or client indecision.`,\n\n  circle_back: `Write a CIRCLE BACK email from Austin Holland to ${ctx.recipient_name || ctx.recipient_email} at ${ctx.company_name}.\nContext: Re-engaging after a period of no contact.\n- Acknowledge the time elapsed naturally (no groveling)\n- Reference where the conversation left off\n- Provide a fresh reason to reconnect (new industry insight, relevant case study, or updated service capability)\n- Keep it short: 100-150 words\n- End with a low-friction ask (15-min call, quick question)`,\n\n  meeting_confirm: `Write a MEETING CONFIRMATION email from Austin Holland to ${ctx.recipient_name || ctx.recipient_email} at ${ctx.company_name}.\n- Confirm the meeting details (date, time, format)\n- Include a brief agenda (3-4 bullet points) based on where the deal stands\n- Express genuine enthusiasm without being sycophantic\n- Keep it to 100-150 words`,\n\n  approach_pdf: `Generate the structured content for a CLEARWATER APPROACH DOCUMENT for ${ctx.company_name}.\nThis will be rendered into a branded PDF. Structure the content as detailed JSON with these sections:\n- executive_summary (3-4 sentences: why Clearwater is the right partner)\n- current_state (overview, organization bullets, activities bullets, technology list, pain_statement)\n- future_state (vision, organization bullets, activities bullets, technology bullets)\n- success_criteria (array of strings)\n- proposed_approach (3-4 paragraphs)\n- proposed_services (array of {service, description, rationale})\n- investment_rationale (1 paragraph on ROI and risk of inaction)\n- next_steps (array of strings)`\n};\n\nconst systemPrompt = `You are an expert sales communication specialist for Clearwater Security & Compliance. You write on behalf of Austin Holland (Account Executive). Clearwater sells cybersecurity, risk management, and compliance services to healthcare organizations.\n\nCORE DIRECTIVES:\n- Write from Austin's perspective in first person\n- Reference actual names, specific pain points, and deal details from the evidence provided\n- Build on previous outputs \u2014 never repeat the same content to the same recipient\n- Use Clearwater CPS terminology naturally (Champion, DAP, PES, ES) in internal content only \u2014 never use these terms in external emails\n- Clearwater services (use exact names): IRM|Analysis, IRM|Pro\u00ae, IRM|Security\u00ae, IRM|Privacy\u00ae, MDR, MSS, SIEM, vCISO, Technical Testing, Risk Response & Remediation`;\n\nconst userMessage = `## OUTPUT REQUEST\nType: ${outputType}\nAustin's Instructions: ${ctx.instructions || '(none \u2014 use best judgment based on deal context)'}\n\n## DEAL CONTEXT\nAccount: ${ctx.company_name}\nDeal ID: ${ctx.deal_id}\nStage: ${deal.salesforce_stage || deal.deal_stage || 'Unknown'}\nClose Date: ${deal.close_date || 'TBD'}\nForecast: ${deal.forecast_category || 'Pipeline'}\nDeal Value: ${deal.deal_value_usd ? '$' + Number(deal.deal_value_usd).toLocaleString() : 'TBD'}\nP2V2C2: ${ctx.p2v2c2_summary}\nCritical Activity Stage: ${deal.critical_activity_stage || 'Unknown'}\nChampion: ${deal.champion_name || 'Not identified'} ${deal.champion_title ? '(' + deal.champion_title + ')' : ''}\nExecutive Sponsor: ${deal.executive_sponsor_name || 'Not identified'} ${deal.executive_sponsor_title ? '(' + deal.executive_sponsor_title + ')' : ''}\nNext Step: ${deal.next_step || 'TBD'} (by ${deal.next_step_date || 'TBD'})\nRecipient: ${ctx.recipient_name || 'Austin (internal)'} <${ctx.recipient_email || 'austin.holland@clearwatersecurity.com'}>\nToday: ${today}\n\n## RELEVANT DEAL CONTENT (from Qdrant)\n${ctx.rag_context}\n\n## PREVIOUS OUTPUTS TO THIS RECIPIENT\n${ctx.history_text}\n\n## CURRENT STATE SUMMARY (from deal record)\nOrg: ${deal.current_state_org || 'Not captured'}\nActivities: ${deal.current_state_activities || 'Not captured'}\nTechnology: ${deal.current_state_technology || 'Not captured'}\nServices Discussed: ${deal.services_narrative || 'Not specified'}\n\n## FUTURE STATE SUMMARY\nOrg: ${deal.future_state_org || 'Not captured'}\nActivities: ${deal.future_state_activities || 'Not captured'}\nTechnology: ${deal.future_state_technology || 'Not captured'}\n\n## CALL SUMMARY (most recent)\n${deal.call_summary || 'Not available'}\n\n## RISKS\n${Array.isArray(deal.risks) ? deal.risks.join('\\n- ') : deal.risks || 'None identified'}\n\n## YOUR TASK\n${outputInstructions[outputType] || outputInstructions.follow_up_email}\n\n## OUTPUT FORMAT\nReturn ONLY valid JSON (no markdown, no code fences):\n{\n  \"subject\": \"[Subject line or title]\",\n  \"body\": \"[Full content \u2014 plain text]\",\n  \"content_summary\": \"[2-3 sentence summary for the output history log \u2014 what was written and why]\"\n}`;\n\nreturn [{\n  json: {\n    ...ctx,\n    model,\n    request_body: {\n      model,\n      max_tokens: maxTokens,\n      system: systemPrompt,\n      messages: [{ role: 'user', content: userMessage }]\n    }\n  }\n}];\n"}, "id": "d0e1f2a3-b4c5-6789-defa-890123456789", "name": "Code: Build Claude Prompt", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2032, 528]}, {"parameters": {"method": "POST", "url": "https://api.anthropic.com/v1/messages", "authentication": "predefinedCredentialType", "nodeCredentialType": "anthropicApi", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "anthropic-version", "value": "2023-06-01"}, {"name": "content-type", "value": "application/json"}]}, "sendBody": true, "contentType": "raw", "rawContentType": "application/json", "body": "={{ JSON.stringify($json.request_body) }}", "options": {}}, "id": "e1f2a3b4-c5d6-7890-efab-901234567890", "name": "HTTP: Claude Generate Output", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [2256, 528], "credentials": {"anthropicApi": {"id": "6NnFWUY71nO8HiT2", "name": "Anthropic account"}}}, {"parameters": {"jsCode": "// Parse Claude's JSON response with fallback\nconst response = $input.first().json;\nconst rawText = response.content?.[0]?.text || response.text || '{}';\nconst ctx = $('Code: Build Claude Prompt').first().json;\n\nlet generated;\ntry {\n  const cleaned = rawText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  generated = JSON.parse(cleaned);\n} catch(e) {\n  throw new Error('Failed to parse Claude output response: ' + e.message + '\\nRaw (first 500): ' + rawText.slice(0, 500));\n}\n\nreturn [{\n  json: {\n    deal_id: ctx.deal_id,\n    output_type: ctx.output_type,\n    recipient_email: ctx.recipient_email || 'austin.holland@clearwatersecurity.com',\n    recipient_name: ctx.recipient_name || 'Austin Holland',\n    company_name: ctx.company_name,\n    requested_by: ctx.requested_by,\n    preview_mode: ctx.preview_mode,\n    subject: generated.subject || `[CW Output] ${ctx.output_type} \u2014 ${ctx.company_name}`,\n    body: generated.body || rawText,\n    content_summary: generated.content_summary || '(no summary)',\n    model_used: ctx.model\n  }\n}];\n"}, "id": "f2a3b4c5-d6e7-8901-fabc-012345678901", "name": "Code: Parse Output", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2480, 528]}, {"parameters": {"jsCode": "// Build INSERT SQL for outputs_log\n// status = 'draft' for preview_mode, 'sent' for direct send\n// RETURNING id so we can reference the draft later for approval\nconst d = $input.first().json;\n\nfunction sq(val) {\n  if (val === null || val === undefined || val === '') return 'NULL';\n  return \"'\" + String(val).replace(/'/g, \"''\") + \"'\";\n}\n\nconst status = d.'approved';\n\nconst sql = `INSERT INTO outputs_log (\n  deal_id, output_type, recipient_email, recipient_name,\n  subject, content_summary, full_content,\n  sent_at, triggered_by, status\n) VALUES (\n  ${sq(d.deal_id)},\n  ${sq(d.output_type)},\n  ${sq(d.recipient_email)},\n  ${sq(d.recipient_name)},\n  ${sq(d.subject)},\n  ${sq(d.content_summary)},\n  ${sq(d.body)},\n  NOW(),\n  ${sq(d.requested_by)},\n  ${sq(status)}\n) RETURNING id`;\n\nreturn [{ json: { ...d, insert_sql: sql } }];\n"}, "id": "a3b4c5d6-e7f8-9012-abcd-123456789012", "name": "Code: Build Insert SQL", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2704, 528]}, {"parameters": {"operation": "executeQuery", "query": "{{ $json.insert_sql }}", "options": {}}, "id": "b4c5d6e7-f8a9-0123-bcde-234567890123", "name": "Postgres: Log Output", "type": "n8n-nodes-base.postgres", "typeVersion": 2, "position": [2928, 528], "credentials": {"postgres": {"id": "WwO5ZGy91Fw5lSFo", "name": "Clearwater Postgres"}}}, {"parameters": {"jsCode": "// Capture the RETURNING id from the INSERT and merge with output data\nconst pgResult = $input.first().json;\nconst parsed = $('Code: Parse Output').first().json;\nconst insertNode = $('Code: Build Insert SQL').first().json;\n\n// Postgres node returns the RETURNING row directly in json\nconst draft_id = pgResult.id || pgResult[0]?.id || null;\n\nreturn [{\n  json: {\n    ...parsed,\n    draft_id,\n    preview_mode: insertNode.preview_mode\n  }\n}];\n"}, "id": "md01-0000-0000-0000-000000000001", "name": "Code: Merge Draft ID", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [3152, 528]}, {"parameters": {"respondWith": "json", "responseBody": "={{ JSON.stringify({ status: 'draft', draft_id: $json.draft_id, output_type: $json.output_type, deal_id: $json.deal_id, company_name: $json.company_name, recipient_email: $json.recipient_email, recipient_name: $json.recipient_name, subject: $json.subject, body: $json.body, content_summary: $json.content_summary, model_used: $json.model_used }) }}", "options": {}}, "id": "rd01-0000-0000-0000-000000000001", "name": "Webhook: Return Draft", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [3600, 432]}, {"parameters": {"httpMethod": "POST", "path": "output-approve", "responseMode": "lastNode", "options": {}}, "id": "oa01-0000-0000-0000-000000000001", "name": "Webhook: Output Approve", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "webhookId": "oa01-0000-0000-0000-000000000001", "position": [240, 848]}, {"parameters": {"jsCode": "// Parse approval request\nconst body = $input.first().json.body || {};\n\nif (!body.draft_id) throw new Error('Missing required field: draft_id');\n\nreturn [{\n  json: {\n    draft_id: parseInt(body.draft_id, 10),\n    // Optional: Austin can override the body (after editing in chat)\n    override_body: body.final_body || null\n  }\n}];\n"}, "id": "par01-0000-0000-0000-000000000001", "name": "Code: Parse Approve Request", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [464, 848]}, {"parameters": {"operation": "executeQuery", "query": "SELECT id, deal_id, output_type, recipient_email, recipient_name, subject, full_content, status FROM outputs_log WHERE id = {{ $json.draft_id }} LIMIT 1", "options": {}}, "id": "pfd01-0000-0000-0000-000000000001", "name": "Postgres: Fetch Draft", "type": "n8n-nodes-base.postgres", "typeVersion": 2, "position": [688, 848], "credentials": {"postgres": {"id": "WwO5ZGy91Fw5lSFo", "name": "Clearwater Postgres"}}}, {"parameters": {"jsCode": "// Merge the fetched draft with any override body from the approval request\nconst draftRow = $input.first().json;\nconst approveReq = $('Code: Parse Approve Request').first().json;\n\nif (!draftRow.id) {\n  throw new Error(`Draft not found for id: ${approveReq.draft_id}`);\n}\n\nif (draftRow.status !== 'draft') {\n  throw new Error(`Output ${approveReq.draft_id} is not in draft status (current: ${draftRow.status}). Cannot approve.`);\n}\n\n// Use override body if Austin edited the draft, otherwise use stored content\nconst finalBody = approveReq.override_body || draftRow.full_content;\n\nreturn [{\n  json: {\n    draft_id: draftRow.id,\n    deal_id: draftRow.deal_id,\n    output_type: draftRow.output_type,\n    recipient_email: draftRow.recipient_email,\n    recipient_name: draftRow.recipient_name,\n    subject: draftRow.subject,\n    body: finalBody,\n    was_edited: approveReq.override_body !== null\n  }\n}];\n"}, "id": "mad01-0000-0000-0000-000000000001", "name": "Code: Merge Approve Data", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [912, 848]}, {"parameters": {"operation": "executeQuery", "query": "UPDATE outputs_log SET status = 'approved', full_content = '{{ $json.body.replace(/'/g, \"''\") }}', sent_at = NOW() WHERE id = {{ $json.draft_id }}", "options": {}}, "id": "ms01-0000-0000-0000-000000000001", "name": "Postgres: Mark Sent", "type": "n8n-nodes-base.postgres", "typeVersion": 2, "position": [1136, 848], "credentials": {"postgres": {"id": "WwO5ZGy91Fw5lSFo", "name": "Clearwater Postgres"}}}, {"parameters": {"respondWith": "json", "responseBody": "={{ JSON.stringify({ status: 'sent', draft_id: $('Code: Merge Approve Data').first().json.draft_id, deal_id: $('Code: Merge Approve Data').first().json.deal_id, output_type: $('Code: Merge Approve Data').first().json.output_type, subject: $('Code: Merge Approve Data').first().json.subject, recipient_email: $('Code: Merge Approve Data').first().json.recipient_email, message: 'Output approved and sent to Austin inbox.' }) }}", "options": {}}, "id": "cs01-0000-0000-0000-000000000001", "name": "Webhook: Confirm Sent", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [1584, 848]}], "connections": {"Webhook: Output Request": {"main": [[{"node": "Code: Normalize Request", "type": "main", "index": 0}]]}, "Code: Normalize Request": {"main": [[{"node": "Postgres: Get Deal + Health", "type": "main", "index": 0}, {"node": "Postgres: Get Output History", "type": "main", "index": 0}]]}, "Postgres: Get Deal + Health": {"main": [[{"node": "Code: Merge Context + Build RAG Queries", "type": "main", "index": 0}]]}, "Postgres: Get Output History": {"main": [[{"node": "Code: Merge Context + Build RAG Queries", "type": "main", "index": 1}]]}, "Code: Merge Context + Build RAG Queries": {"main": [[{"node": "HTTP: Embed RAG Query", "type": "main", "index": 0}]]}, "HTTP: Embed RAG Query": {"main": [[{"node": "HTTP: Qdrant Search", "type": "main", "index": 0}]]}, "HTTP: Qdrant Search": {"main": [[{"node": "Code: Assemble RAG Context", "type": "main", "index": 0}]]}, "Code: Assemble RAG Context": {"main": [[{"node": "Code: Build Claude Prompt", "type": "main", "index": 0}]]}, "Code: Build Claude Prompt": {"main": [[{"node": "HTTP: Claude Generate Output", "type": "main", "index": 0}]]}, "HTTP: Claude Generate Output": {"main": [[{"node": "Code: Parse Output", "type": "main", "index": 0}]]}, "Code: Parse Output": {"main": [[{"node": "Code: Build Insert SQL", "type": "main", "index": 0}]]}, "Code: Build Insert SQL": {"main": [[{"node": "Postgres: Log Output", "type": "main", "index": 0}]]}, "Postgres: Log Output": {"main": [[{"node": "Code: Merge Draft ID", "type": "main", "index": 0}]]}, "Code: Merge Draft ID": {"main": [[{"node": "Webhook: Return Draft", "type": "main", "index": 0}]]}, "Webhook: Output Approve": {"main": [[{"node": "Code: Parse Approve Request", "type": "main", "index": 0}]]}, "Code: Parse Approve Request": {"main": [[{"node": "Postgres: Fetch Draft", "type": "main", "index": 0}]]}, "Postgres: Fetch Draft": {"main": [[{"node": "Code: Merge Approve Data", "type": "main", "index": 0}]]}, "Code: Merge Approve Data": {"main": [[{"node": "Postgres: Mark Sent", "type": "main", "index": 0}]]}, "Postgres: Mark Sent": {"main": [[{"node": "Webhook: Confirm Sent", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "saveManualExecutions": true, "callerPolicy": "workflowsFromSameOwner", "saveDataSuccessExecution": "all", "saveDataErrorExecution": "all", "availableInMCP": false}, "staticData": null, "meta": null, "pinData": {}, "versionId": "ff670b00-d448-41cd-b1e5-912c66086615", "activeVersionId": "ff670b00-d448-41cd-b1e5-912c66086615", "versionCounter": 144, "triggerCount": 2, "shared": [{"updatedAt": "2026-02-28T04:28:28.506Z", "createdAt": "2026-02-28T04:28:28.506Z", "role": "workflow:owner", "workflowId": "Lg6uKXjGeedojMOQ", "projectId": "AyFYj8ev1hBER3zO", "project": {"updatedAt": "2026-02-26T09:07:37.733Z", "createdAt": "2026-02-26T07:53:31.019Z", "id": "AyFYj8ev1hBER3zO", "name": "Randall raustinholland@gmail.com <raustinholland@gmail.com>", "type": "personal", "icon": null, "description": null, "creatorId": "8a968d0b-280d-4856-b867-bed874846716"}}], "tags": [], "activeVersion": {"updatedAt": "2026-03-01T07:57:34.507Z", "createdAt": "2026-03-01T07:57:34.507Z", "versionId": "ff670b00-d448-41cd-b1e5-912c66086615", "workflowId": "Lg6uKXjGeedojMOQ", "nodes": [{"parameters": {"httpMethod": "POST", "path": "output-request", "responseMode": "responseNode", "options": {}}, "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890", "name": "Webhook: Output Request", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "webhookId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890", "position": [240, 432]}, {"parameters": {"jsCode": "// Extract and normalize the incoming request payload\nconst body = $input.first().json.body || {};\n\nif (!body.deal_id) throw new Error('Missing required field: deal_id');\nif (!body.output_type) throw new Error('Missing required field: output_type');\n\nreturn [{\n  json: {\n    deal_id: body.deal_id,\n    output_type: body.output_type,\n    recipient_email: body.recipient_email || null,\n    recipient_name: body.recipient_name || null,\n    instructions: body.instructions || '',\n    requested_by: body.requested_by || 'manual',\n    preview_mode: body.preview_mode === true || body.preview_mode === 'true'\n  }\n}];\n"}, "id": "c3d4e5f6-a7b8-9012-cdef-123456789012", "name": "Code: Normalize Request", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [464, 432]}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "preview-mode-check", "leftValue": "={{ $json.preview_mode }}", "rightValue": true, "operator": {"type": "boolean", "operation": "true"}}], "combinator": "and"}, "options": {}}, "id": "pm01-0000-0000-0000-000000000001", "name": "IF: Preview Mode?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [688, 432]}, {"parameters": {"respondWith": "json", "responseBody": "={ \"status\": \"accepted\", \"message\": \"Output generation started\" }", "options": {}}, "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901", "name": "Webhook: Respond 200", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [912, 240]}, {"parameters": {"operation": "executeQuery", "query": "SELECT d.deal_id, d.company_name, d.salesforce_stage, d.deal_stage, d.deal_value_usd, d.close_date, d.forecast_category, d.deal_owner, dh.pain_score, dh.power_score, dh.vision_score, dh.value_score, dh.change_score, dh.control_score, dh.p2v2c2_total, dh.critical_activity_stage, dh.champion_name, dh.champion_title, dh.executive_sponsor_name, dh.executive_sponsor_title, dh.current_state_org, dh.current_state_activities, dh.current_state_technology, dh.future_state_org, dh.future_state_activities, dh.future_state_technology, dh.risks, dh.next_step, dh.next_step_date, dh.call_summary, dh.highlights, dh.action_items_prospect, dh.action_items_internal, dh.services_narrative, dh.general_narrative, dh.key_stakeholder_success_criteria, dh.dap_summary, dh.internal_team_update, dh.scored_at FROM deals d LEFT JOIN LATERAL (SELECT * FROM deal_health WHERE deal_id = d.deal_id ORDER BY scored_at DESC LIMIT 1) dh ON true WHERE d.deal_id = '{{ $('Code: Normalize Request').first().json.deal_id }}' LIMIT 1", "options": {}}, "id": "d4e5f6a7-b8c9-0123-defa-234567890123", "name": "Postgres: Get Deal + Health", "type": "n8n-nodes-base.postgres", "typeVersion": 2, "position": [912, 432], "credentials": {"postgres": {"id": "WwO5ZGy91Fw5lSFo", "name": "Clearwater Postgres"}}}, {"parameters": {"operation": "executeQuery", "query": "SELECT output_type, recipient_name, recipient_email, subject, content_summary, sent_at FROM outputs_log WHERE deal_id = '{{ $('Code: Normalize Request').first().json.deal_id }}' ORDER BY sent_at DESC LIMIT 15", "options": {}}, "id": "e5f6a7b8-c9d0-1234-efab-345678901234", "name": "Postgres: Get Output History", "type": "n8n-nodes-base.postgres", "typeVersion": 2, "position": [912, 624], "credentials": {"postgres": {"id": "WwO5ZGy91Fw5lSFo", "name": "Clearwater Postgres"}}}, {"parameters": {"jsCode": "// Merge deal context, output history, and build RAG queries for the output type\nconst req = $('Code: Normalize Request').first().json;\nconst dealRows = $('Postgres: Get Deal + Health').all();\nconst historyRows = $('Postgres: Get Output History').all();\n\nconst deal = dealRows[0]?.json || {};\n\nif (!deal.deal_id) {\n  throw new Error(`Deal not found: ${req.deal_id}`);\n}\n\n// Format output history\nconst historyText = historyRows.length > 0\n  ? historyRows.map(r => {\n      const h = r.json;\n      const date = h.sent_at ? h.sent_at.toString().split('T')[0] : 'unknown';\n      const to = h.recipient_name || h.recipient_email || 'unknown';\n      return `- ${date}: [${h.output_type}] TO: ${to} \u2014 \"${h.subject || '(no subject)'}\" \u2014 ${h.content_summary || '(no summary)'}`;\n    }).join('\\n')\n  : 'No previous outputs have been generated for this deal.';\n\n// P2V2C2 summary string\nconst p2v2c2Summary = [\n  `Pain: ${deal.pain_score || 0}/5`,\n  `Power: ${deal.power_score || 0}/5`,\n  `Vision: ${deal.vision_score || 0}/5`,\n  `Value: ${deal.value_score || 0}/5`,\n  `Change: ${deal.change_score || 0}/5`,\n  `Control: ${deal.control_score || 0}/5`,\n  `Total: ${deal.p2v2c2_total || 0}/30`\n].join(' | ');\n\n// RAG queries tailored to output type\nconst co = deal.company_name;\nconst outputType = req.output_type;\n\nconst ragQueryBank = {\n  follow_up_email: [\n    `What was discussed in the most recent call or meeting with ${co}? What were the key outcomes and next steps agreed?`,\n    `What specific action items or commitments did Austin and ${co} make at the last touchpoint? What follow-ups are outstanding?`,\n    `What pain, urgency, or business problems has ${co} expressed that should be referenced in a follow-up communication?`,\n    `What Clearwater services or solutions were proposed or discussed with ${co}?`\n  ],\n  pre_call_planner: [\n    `What are the key open questions, risks, and outstanding action items with ${co} going into the next meeting?`,\n    `What pain and urgency has ${co} articulated? What power dynamics and executive sponsor access exists?`,\n    `What is the current state and desired future state for ${co}'s cybersecurity and compliance program?`,\n    `Who are the key stakeholders at ${co}? What are their goals, titles, and decision-making roles?`,\n    `What Clearwater services and engagement approach has been discussed with ${co}?`,\n    `What objections, competitive threats, or obstacles exist in the ${co} deal?`\n  ],\n  internal_team_update: [\n    `What happened in the most recent call or meeting with ${co}? What were the key discussion points and outcomes?`,\n    `What is the deal status with ${co}? What are the current P2V2C2 signals and executive sponsor dynamics?`,\n    `What are the open risks, next steps, and action items for the ${co} deal?`,\n    `What PE or board-level pressure or executive sponsor dynamics exist in the ${co} deal?`\n  ],\n  circle_back: [\n    `What was the last communication or meeting with ${co}? How long ago was contact made?`,\n    `What pain or urgency did ${co} express? What was the last agreed next step?`,\n    `What Clearwater services were discussed with ${co}? What value proposition was presented?`\n  ],\n  meeting_confirm: [\n    `What is the agenda and objectives for the upcoming meeting with ${co}?`,\n    `What action items and next steps were agreed with ${co} that this meeting is meant to address?`,\n    `Who are the key attendees and their roles at ${co} for the upcoming meeting?`\n  ],\n  approach_pdf: [\n    `What is ${co}'s current cybersecurity and compliance posture? What gaps and pain points exist?`,\n    `What future state has been co-created with ${co}? What are their compliance goals and desired capabilities?`,\n    `What Clearwater services have been proposed or discussed for ${co}? What is the recommended engagement scope?`,\n    `What is the key value proposition and ROI for ${co} working with Clearwater?`,\n    `Who are the key stakeholders at ${co} and what are their individual success criteria?`,\n    `What are the key risks and objections in the ${co} deal that the Approach Document should address?`\n  ]\n};\n\nconst queries = ragQueryBank[outputType] || ragQueryBank.follow_up_email;\n\nreturn queries.map((query, i) => ({\n  json: {\n    deal_id: req.deal_id,\n    output_type: req.output_type,\n    recipient_email: req.recipient_email,\n    recipient_name: req.recipient_name,\n    instructions: req.instructions,\n    requested_by: req.requested_by,\n    preview_mode: req.preview_mode,\n    company_name: co,\n    deal,\n    history_text: historyText,\n    p2v2c2_summary: p2v2c2Summary,\n    rag_query: query,\n    rag_index: i\n  }\n}));\n"}, "id": "f6a7b8c9-d0e1-2345-fabc-456789012345", "name": "Code: Merge Context + Build RAG Queries", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1136, 528]}, {"parameters": {"method": "POST", "url": "https://api.openai.com/v1/embeddings", "authentication": "predefinedCredentialType", "nodeCredentialType": "openAiApi", "sendBody": true, "contentType": "raw", "rawContentType": "application/json", "body": "={{ JSON.stringify({ model: 'text-embedding-3-small', input: $json.rag_query }) }}", "options": {}}, "id": "a7b8c9d0-e1f2-3456-abcd-567890123456", "name": "HTTP: Embed RAG Query", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [1360, 528], "credentials": {"openAiApi": {"id": "0uPlAmGz2rZbF75R", "name": "OpenAI API"}}}, {"parameters": {"method": "POST", "url": "http://qdrant:6333/collections/deals/points/search", "sendBody": true, "contentType": "raw", "rawContentType": "application/json", "body": "={{ JSON.stringify({ vector: $json.data[0].embedding, filter: { must: [{ key: 'deal_id', match: { value: $('Code: Merge Context + Build RAG Queries').item.json.deal_id } }] }, limit: 8, with_payload: true, with_vector: false }) }}", "options": {}}, "id": "b8c9d0e1-f2a3-4567-bcde-678901234567", "name": "HTTP: Qdrant Search", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [1584, 528]}, {"parameters": {"jsCode": "// Assemble all RAG results into a unified context block\nconst allSearchResults = $input.all();\nconst allQueryItems = $('Code: Merge Context + Build RAG Queries').all();\nconst baseData = allQueryItems[0].json;\n\nconst chunks = [];\n\nallSearchResults.forEach((item, i) => {\n  const results = item.json.result || [];\n\n  results\n    .filter(r => (r.score || 0) > 0.25)\n    .forEach(r => {\n      const p = r.payload || {};\n      const date = p.date_created ? new Date(p.date_created).toISOString().split('T')[0] : 'unknown date';\n      chunks.push(`[${p.doc_type || 'document'}, ${date}]\\n${p.page_content || ''}`);\n    });\n});\n\n// Dedupe chunks by content\nconst seen = new Set();\nconst uniqueChunks = chunks.filter(c => {\n  const key = c.slice(0, 100);\n  if (seen.has(key)) return false;\n  seen.add(key);\n  return true;\n});\n\nconst ragContext = uniqueChunks.length > 0\n  ? uniqueChunks.join('\\n\\n---\\n\\n')\n  : 'No relevant deal content found in Qdrant for this deal.';\n\nreturn [{\n  json: {\n    deal_id: baseData.deal_id,\n    output_type: baseData.output_type,\n    recipient_email: baseData.recipient_email,\n    recipient_name: baseData.recipient_name,\n    instructions: baseData.instructions,\n    requested_by: baseData.requested_by,\n    preview_mode: baseData.preview_mode,\n    company_name: baseData.company_name,\n    deal: baseData.deal,\n    history_text: baseData.history_text,\n    p2v2c2_summary: baseData.p2v2c2_summary,\n    rag_context: ragContext\n  }\n}];\n"}, "id": "c9d0e1f2-a3b4-5678-cdef-789012345678", "name": "Code: Assemble RAG Context", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1808, 528]}, {"parameters": {"jsCode": "const ctx = $input.first().json;\nconst deal = ctx.deal;\nconst outputType = ctx.output_type;\nconst today = new Date().toISOString().split('T')[0];\n\n// Choose model based on output type\nconst model = ['approach_pdf', 'pre_call_planner'].includes(outputType)\n  ? 'claude-opus-4-6'\n  : 'claude-sonnet-4-6';\n\nconst maxTokens = outputType === 'approach_pdf' ? 4096\n  : outputType === 'pre_call_planner' ? 3000\n  : 1500;\n\n// Output-type-specific instructions\nconst outputInstructions = {\n  follow_up_email: `Write a SEND-READY follow-up email from Austin Holland to ${ctx.recipient_name || ctx.recipient_email} at ${ctx.company_name}.\n- Tone: Professional, warm, consultative \u2014 never pushy\n- Length: 150-250 words\n- Reference specific details from the deal content\n- Build on previous communications (never repeat same talking points)\n- Address ALL relevant attendees from the most recent call or meeting (infer from deal content and RAG context \u2014 use a group salutation like 'Travis and Uday,' if multiple people attended)\n- End with a clear, specific next step or call to action\n- Sign off as: Austin Holland | Clearwater Security & Compliance`,\n\n  pre_call_planner: `Create a comprehensive PRE-CALL PLANNER for Austin Holland preparing for an upcoming meeting with ${ctx.company_name}.\nInclude these sections:\n## MEETING OBJECTIVE\n## KEY ATTENDEES & ROLES\n## DEAL STATUS (P2V2C2 Summary)\n## PAIN POINTS TO REFERENCE\n## CPS TALKING POINTS (aligned to current stage: ${deal.critical_activity_stage || deal.deal_stage || 'discover'})\n## OPEN QUESTIONS TO ASK\n## ANTICIPATED OBJECTIONS & RESPONSES\n## DESIRED OUTCOMES FROM THIS MEETING\n## NEXT STEPS TO PROPOSE\nBe specific. Use names. Reference actual deal evidence.`,\n\n  internal_team_update: `Write an INTERNAL TEAM UPDATE for the ${ctx.company_name} deal.\nFormat: Exactly TWO paragraphs of narrative prose. NO bullets. NO section headers.\nParagraph 1: Current state \u2014 where it came from, client situation, key players, pain, PE/board dynamics. Analytical, specific.\nParagraph 2: Strategic trajectory \u2014 what Clearwater must do, urgency, winning strategy. Forward-looking, inferential, dry wit.\nTone reference: Astute, eloquent, professional with subtle sarcasm about corporate behaviors or client indecision.`,\n\n  circle_back: `Write a CIRCLE BACK email from Austin Holland to ${ctx.recipient_name || ctx.recipient_email} at ${ctx.company_name}.\nContext: Re-engaging after a period of no contact.\n- Acknowledge the time elapsed naturally (no groveling)\n- Reference where the conversation left off\n- Provide a fresh reason to reconnect (new industry insight, relevant case study, or updated service capability)\n- Keep it short: 100-150 words\n- End with a low-friction ask (15-min call, quick question)`,\n\n  meeting_confirm: `Write a MEETING CONFIRMATION email from Austin Holland to ${ctx.recipient_name || ctx.recipient_email} at ${ctx.company_name}.\n- Confirm the meeting details (date, time, format)\n- Include a brief agenda (3-4 bullet points) based on where the deal stands\n- Express genuine enthusiasm without being sycophantic\n- Keep it to 100-150 words`,\n\n  approach_pdf: `Generate the structured content for a CLEARWATER APPROACH DOCUMENT for ${ctx.company_name}.\nThis will be rendered into a branded PDF. Structure the content as detailed JSON with these sections:\n- executive_summary (3-4 sentences: why Clearwater is the right partner)\n- current_state (overview, organization bullets, activities bullets, technology list, pain_statement)\n- future_state (vision, organization bullets, activities bullets, technology bullets)\n- success_criteria (array of strings)\n- proposed_approach (3-4 paragraphs)\n- proposed_services (array of {service, description, rationale})\n- investment_rationale (1 paragraph on ROI and risk of inaction)\n- next_steps (array of strings)`\n};\n\nconst systemPrompt = `You are an expert sales communication specialist for Clearwater Security & Compliance. You write on behalf of Austin Holland (Account Executive). Clearwater sells cybersecurity, risk management, and compliance services to healthcare organizations.\n\nCORE DIRECTIVES:\n- Write from Austin's perspective in first person\n- Reference actual names, specific pain points, and deal details from the evidence provided\n- Build on previous outputs \u2014 never repeat the same content to the same recipient\n- Use Clearwater CPS terminology naturally (Champion, DAP, PES, ES) in internal content only \u2014 never use these terms in external emails\n- Clearwater services (use exact names): IRM|Analysis, IRM|Pro\u00ae, IRM|Security\u00ae, IRM|Privacy\u00ae, MDR, MSS, SIEM, vCISO, Technical Testing, Risk Response & Remediation`;\n\nconst userMessage = `## OUTPUT REQUEST\nType: ${outputType}\nAustin's Instructions: ${ctx.instructions || '(none \u2014 use best judgment based on deal context)'}\n\n## DEAL CONTEXT\nAccount: ${ctx.company_name}\nDeal ID: ${ctx.deal_id}\nStage: ${deal.salesforce_stage || deal.deal_stage || 'Unknown'}\nClose Date: ${deal.close_date || 'TBD'}\nForecast: ${deal.forecast_category || 'Pipeline'}\nDeal Value: ${deal.deal_value_usd ? '$' + Number(deal.deal_value_usd).toLocaleString() : 'TBD'}\nP2V2C2: ${ctx.p2v2c2_summary}\nCritical Activity Stage: ${deal.critical_activity_stage || 'Unknown'}\nChampion: ${deal.champion_name || 'Not identified'} ${deal.champion_title ? '(' + deal.champion_title + ')' : ''}\nExecutive Sponsor: ${deal.executive_sponsor_name || 'Not identified'} ${deal.executive_sponsor_title ? '(' + deal.executive_sponsor_title + ')' : ''}\nNext Step: ${deal.next_step || 'TBD'} (by ${deal.next_step_date || 'TBD'})\nRecipient: ${ctx.recipient_name || 'Austin (internal)'} <${ctx.recipient_email || 'austin.holland@clearwatersecurity.com'}>\nToday: ${today}\n\n## RELEVANT DEAL CONTENT (from Qdrant)\n${ctx.rag_context}\n\n## PREVIOUS OUTPUTS TO THIS RECIPIENT\n${ctx.history_text}\n\n## CURRENT STATE SUMMARY (from deal record)\nOrg: ${deal.current_state_org || 'Not captured'}\nActivities: ${deal.current_state_activities || 'Not captured'}\nTechnology: ${deal.current_state_technology || 'Not captured'}\nServices Discussed: ${deal.services_narrative || 'Not specified'}\n\n## FUTURE STATE SUMMARY\nOrg: ${deal.future_state_org || 'Not captured'}\nActivities: ${deal.future_state_activities || 'Not captured'}\nTechnology: ${deal.future_state_technology || 'Not captured'}\n\n## CALL SUMMARY (most recent)\n${deal.call_summary || 'Not available'}\n\n## RISKS\n${Array.isArray(deal.risks) ? deal.risks.join('\\n- ') : deal.risks || 'None identified'}\n\n## YOUR TASK\n${outputInstructions[outputType] || outputInstructions.follow_up_email}\n\n## OUTPUT FORMAT\nReturn ONLY valid JSON (no markdown, no code fences):\n{\n  \"subject\": \"[Subject line or title]\",\n  \"body\": \"[Full content \u2014 plain text]\",\n  \"content_summary\": \"[2-3 sentence summary for the output history log \u2014 what was written and why]\"\n}`;\n\nreturn [{\n  json: {\n    ...ctx,\n    model,\n    request_body: {\n      model,\n      max_tokens: maxTokens,\n      system: systemPrompt,\n      messages: [{ role: 'user', content: userMessage }]\n    }\n  }\n}];\n"}, "id": "d0e1f2a3-b4c5-6789-defa-890123456789", "name": "Code: Build Claude Prompt", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2032, 528]}, {"parameters": {"method": "POST", "url": "https://api.anthropic.com/v1/messages", "authentication": "predefinedCredentialType", "nodeCredentialType": "anthropicApi", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "anthropic-version", "value": "2023-06-01"}, {"name": "content-type", "value": "application/json"}]}, "sendBody": true, "contentType": "raw", "rawContentType": "application/json", "body": "={{ JSON.stringify($json.request_body) }}", "options": {}}, "id": "e1f2a3b4-c5d6-7890-efab-901234567890", "name": "HTTP: Claude Generate Output", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [2256, 528], "credentials": {"anthropicApi": {"id": "6NnFWUY71nO8HiT2", "name": "Anthropic account"}}}, {"parameters": {"jsCode": "// Parse Claude's JSON response with fallback\nconst response = $input.first().json;\nconst rawText = response.content?.[0]?.text || response.text || '{}';\nconst ctx = $('Code: Build Claude Prompt').first().json;\n\nlet generated;\ntry {\n  const cleaned = rawText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  generated = JSON.parse(cleaned);\n} catch(e) {\n  throw new Error('Failed to parse Claude output response: ' + e.message + '\\nRaw (first 500): ' + rawText.slice(0, 500));\n}\n\nreturn [{\n  json: {\n    deal_id: ctx.deal_id,\n    output_type: ctx.output_type,\n    recipient_email: ctx.recipient_email || 'austin.holland@clearwatersecurity.com',\n    recipient_name: ctx.recipient_name || 'Austin Holland',\n    company_name: ctx.company_name,\n    requested_by: ctx.requested_by,\n    preview_mode: ctx.preview_mode,\n    subject: generated.subject || `[CW Output] ${ctx.output_type} \u2014 ${ctx.company_name}`,\n    body: generated.body || rawText,\n    content_summary: generated.content_summary || '(no summary)',\n    model_used: ctx.model\n  }\n}];\n"}, "id": "f2a3b4c5-d6e7-8901-fabc-012345678901", "name": "Code: Parse Output", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2480, 528]}, {"parameters": {"jsCode": "// Build INSERT SQL for outputs_log\n// status = 'draft' for preview_mode, 'sent' for direct send\n// RETURNING id so we can reference the draft later for approval\nconst d = $input.first().json;\n\nfunction sq(val) {\n  if (val === null || val === undefined || val === '') return 'NULL';\n  return \"'\" + String(val).replace(/'/g, \"''\") + \"'\";\n}\n\nconst status = d.preview_mode ? 'draft' : 'sent';\n\nconst sql = `INSERT INTO outputs_log (\n  deal_id, output_type, recipient_email, recipient_name,\n  subject, content_summary, full_content,\n  sent_at, triggered_by, status\n) VALUES (\n  ${sq(d.deal_id)},\n  ${sq(d.output_type)},\n  ${sq(d.recipient_email)},\n  ${sq(d.recipient_name)},\n  ${sq(d.subject)},\n  ${sq(d.content_summary)},\n  ${sq(d.body)},\n  NOW(),\n  ${sq(d.requested_by)},\n  ${sq(status)}\n) RETURNING id`;\n\nreturn [{ json: { ...d, insert_sql: sql } }];\n"}, "id": "a3b4c5d6-e7f8-9012-abcd-123456789012", "name": "Code: Build Insert SQL", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2704, 528]}, {"parameters": {"operation": "executeQuery", "query": "{{ $json.insert_sql }}", "options": {}}, "id": "b4c5d6e7-f8a9-0123-bcde-234567890123", "name": "Postgres: Log Output", "type": "n8n-nodes-base.postgres", "typeVersion": 2, "position": [2928, 528], "credentials": {"postgres": {"id": "WwO5ZGy91Fw5lSFo", "name": "Clearwater Postgres"}}}, {"parameters": {"jsCode": "// Capture the RETURNING id from the INSERT and merge with output data\nconst pgResult = $input.first().json;\nconst parsed = $('Code: Parse Output').first().json;\nconst insertNode = $('Code: Build Insert SQL').first().json;\n\n// Postgres node returns the RETURNING row directly in json\nconst draft_id = pgResult.id || pgResult[0]?.id || null;\n\nreturn [{\n  json: {\n    ...parsed,\n    draft_id,\n    preview_mode: insertNode.preview_mode\n  }\n}];\n"}, "id": "md01-0000-0000-0000-000000000001", "name": "Code: Merge Draft ID", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [3152, 528]}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "send-gmail-check", "leftValue": "={{ $json.preview_mode }}", "rightValue": true, "operator": {"type": "boolean", "operation": "true"}}], "combinator": "and"}, "options": {}}, "id": "sg01-0000-0000-0000-000000000001", "name": "IF: Send Gmail?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [3376, 528]}, {"parameters": {"respondWith": "json", "responseBody": "={{ JSON.stringify({ status: 'draft', draft_id: $json.draft_id, output_type: $json.output_type, deal_id: $json.deal_id, company_name: $json.company_name, recipient_email: $json.recipient_email, recipient_name: $json.recipient_name, subject: $json.subject, body: $json.body, content_summary: $json.content_summary, model_used: $json.model_used }) }}", "options": {}}, "id": "rd01-0000-0000-0000-000000000001", "name": "Webhook: Return Draft", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [3600, 432]}, {"parameters": {"sendTo": "austin.holland@clearwatersecurity.com", "subject": "=[CW Output] {{ $json.output_type.toUpperCase() }}: {{ $json.subject }}", "emailType": "text", "message": "=## Output Type: {{ $json.output_type }}\n## Deal: {{ $json.company_name }}\n## SEND TO: {{ $json.recipient_name }} <{{ $json.recipient_email }}>\n## Model: {{ $json.model_used }}\n\n--- COPY/PASTE BELOW THIS LINE ---\n\n{{ $json.body }}\n\n--- END OF OUTPUT ---\n[Generated by Clearwater Deal Intelligence Engine]", "options": {}}, "id": "c5d6e7f8-a9b0-1234-cdef-345678901234", "name": "Gmail: Send to Austin", "type": "n8n-nodes-base.gmail", "typeVersion": 2, "position": [3600, 624], "webhookId": "596f6412-0a54-4447-8d5c-990079b516d5", "credentials": {"gmailOAuth2": {"id": "3MFqaWbGTKhRcnUF", "name": "Gmail Ingestion Inbox"}}}, {"parameters": {"httpMethod": "POST", "path": "output-approve", "responseMode": "lastNode", "options": {}}, "id": "oa01-0000-0000-0000-000000000001", "name": "Webhook: Output Approve", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "webhookId": "oa01-0000-0000-0000-000000000001", "position": [240, 848]}, {"parameters": {"jsCode": "// Parse approval request\nconst body = $input.first().json.body || {};\n\nif (!body.draft_id) throw new Error('Missing required field: draft_id');\n\nreturn [{\n  json: {\n    draft_id: parseInt(body.draft_id, 10),\n    // Optional: Austin can override the body (after editing in chat)\n    override_body: body.final_body || null\n  }\n}];\n"}, "id": "par01-0000-0000-0000-000000000001", "name": "Code: Parse Approve Request", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [464, 848]}, {"parameters": {"operation": "executeQuery", "query": "SELECT id, deal_id, output_type, recipient_email, recipient_name, subject, full_content, status FROM outputs_log WHERE id = {{ $json.draft_id }} LIMIT 1", "options": {}}, "id": "pfd01-0000-0000-0000-000000000001", "name": "Postgres: Fetch Draft", "type": "n8n-nodes-base.postgres", "typeVersion": 2, "position": [688, 848], "credentials": {"postgres": {"id": "WwO5ZGy91Fw5lSFo", "name": "Clearwater Postgres"}}}, {"parameters": {"jsCode": "// Merge the fetched draft with any override body from the approval request\nconst draftRow = $input.first().json;\nconst approveReq = $('Code: Parse Approve Request').first().json;\n\nif (!draftRow.id) {\n  throw new Error(`Draft not found for id: ${approveReq.draft_id}`);\n}\n\nif (draftRow.status !== 'draft') {\n  throw new Error(`Output ${approveReq.draft_id} is not in draft status (current: ${draftRow.status}). Cannot approve.`);\n}\n\n// Use override body if Austin edited the draft, otherwise use stored content\nconst finalBody = approveReq.override_body || draftRow.full_content;\n\nreturn [{\n  json: {\n    draft_id: draftRow.id,\n    deal_id: draftRow.deal_id,\n    output_type: draftRow.output_type,\n    recipient_email: draftRow.recipient_email,\n    recipient_name: draftRow.recipient_name,\n    subject: draftRow.subject,\n    body: finalBody,\n    was_edited: approveReq.override_body !== null\n  }\n}];\n"}, "id": "mad01-0000-0000-0000-000000000001", "name": "Code: Merge Approve Data", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [912, 848]}, {"parameters": {"operation": "executeQuery", "query": "UPDATE outputs_log SET status = 'sent', full_content = '{{ $json.body.replace(/'/g, \"''\") }}', sent_at = NOW() WHERE id = {{ $json.draft_id }}", "options": {}}, "id": "ms01-0000-0000-0000-000000000001", "name": "Postgres: Mark Sent", "type": "n8n-nodes-base.postgres", "typeVersion": 2, "position": [1136, 848], "credentials": {"postgres": {"id": "WwO5ZGy91Fw5lSFo", "name": "Clearwater Postgres"}}}, {"parameters": {"sendTo": "austin.holland@clearwatersecurity.com", "subject": "=[CW APPROVED] {{ $('Code: Merge Approve Data').first().json.output_type.toUpperCase() }}: {{ $('Code: Merge Approve Data').first().json.subject }}", "emailType": "text", "message": "=## Output Type: {{ $('Code: Merge Approve Data').first().json.output_type }}\n## Deal: {{ $('Code: Merge Approve Data').first().json.deal_id }}\n## SEND TO: {{ $('Code: Merge Approve Data').first().json.recipient_name }} <{{ $('Code: Merge Approve Data').first().json.recipient_email }}>\n## Draft ID: {{ $('Code: Merge Approve Data').first().json.draft_id }}\n\n--- COPY/PASTE BELOW THIS LINE ---\n\n{{ $('Code: Merge Approve Data').first().json.body }}\n\n--- END OF OUTPUT ---\n[Approved via Clearwater Deal Intelligence Engine]", "options": {}}, "id": "gsa01-0000-0000-0000-000000000001", "name": "Gmail: Send Approved Output", "type": "n8n-nodes-base.gmail", "typeVersion": 2, "position": [1360, 848], "webhookId": "79598138-b32c-43b3-9620-f750969cf2e1", "credentials": {"gmailOAuth2": {"id": "3MFqaWbGTKhRcnUF", "name": "Gmail Ingestion Inbox"}}}, {"parameters": {"respondWith": "json", "responseBody": "={{ JSON.stringify({ status: 'sent', draft_id: $('Code: Merge Approve Data').first().json.draft_id, deal_id: $('Code: Merge Approve Data').first().json.deal_id, output_type: $('Code: Merge Approve Data').first().json.output_type, subject: $('Code: Merge Approve Data').first().json.subject, recipient_email: $('Code: Merge Approve Data').first().json.recipient_email, message: 'Output approved and sent to Austin inbox.' }) }}", "options": {}}, "id": "cs01-0000-0000-0000-000000000001", "name": "Webhook: Confirm Sent", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [1584, 848]}], "connections": {"Webhook: Output Request": {"main": [[{"node": "Code: Normalize Request", "type": "main", "index": 0}]]}, "Code: Normalize Request": {"main": [[{"node": "IF: Preview Mode?", "type": "main", "index": 0}]]}, "IF: Preview Mode?": {"main": [[{"node": "Postgres: Get Deal + Health", "type": "main", "index": 0}, {"node": "Postgres: Get Output History", "type": "main", "index": 0}], [{"node": "Webhook: Respond 200", "type": "main", "index": 0}, {"node": "Postgres: Get Deal + Health", "type": "main", "index": 0}, {"node": "Postgres: Get Output History", "type": "main", "index": 0}]]}, "Postgres: Get Deal + Health": {"main": [[{"node": "Code: Merge Context + Build RAG Queries", "type": "main", "index": 0}]]}, "Postgres: Get Output History": {"main": [[{"node": "Code: Merge Context + Build RAG Queries", "type": "main", "index": 1}]]}, "Code: Merge Context + Build RAG Queries": {"main": [[{"node": "HTTP: Embed RAG Query", "type": "main", "index": 0}]]}, "HTTP: Embed RAG Query": {"main": [[{"node": "HTTP: Qdrant Search", "type": "main", "index": 0}]]}, "HTTP: Qdrant Search": {"main": [[{"node": "Code: Assemble RAG Context", "type": "main", "index": 0}]]}, "Code: Assemble RAG Context": {"main": [[{"node": "Code: Build Claude Prompt", "type": "main", "index": 0}]]}, "Code: Build Claude Prompt": {"main": [[{"node": "HTTP: Claude Generate Output", "type": "main", "index": 0}]]}, "HTTP: Claude Generate Output": {"main": [[{"node": "Code: Parse Output", "type": "main", "index": 0}]]}, "Code: Parse Output": {"main": [[{"node": "Code: Build Insert SQL", "type": "main", "index": 0}]]}, "Code: Build Insert SQL": {"main": [[{"node": "Postgres: Log Output", "type": "main", "index": 0}]]}, "Postgres: Log Output": {"main": [[{"node": "Code: Merge Draft ID", "type": "main", "index": 0}]]}, "Code: Merge Draft ID": {"main": [[{"node": "IF: Send Gmail?", "type": "main", "index": 0}]]}, "IF: Send Gmail?": {"main": [[{"node": "Webhook: Return Draft", "type": "main", "index": 0}], [{"node": "Gmail: Send to Austin", "type": "main", "index": 0}]]}, "Webhook: Output Approve": {"main": [[{"node": "Code: Parse Approve Request", "type": "main", "index": 0}]]}, "Code: Parse Approve Request": {"main": [[{"node": "Postgres: Fetch Draft", "type": "main", "index": 0}]]}, "Postgres: Fetch Draft": {"main": [[{"node": "Code: Merge Approve Data", "type": "main", "index": 0}]]}, "Code: Merge Approve Data": {"main": [[{"node": "Postgres: Mark Sent", "type": "main", "index": 0}]]}, "Postgres: Mark Sent": {"main": [[{"node": "Gmail: Send Approved Output", "type": "main", "index": 0}]]}, "Gmail: Send Approved Output": {"main": [[{"node": "Webhook: Confirm Sent", "type": "main", "index": 0}]]}}, "authors": "Randall raustinholland@gmail.com", "name": null, "description": null, "autosaved": true, "workflowPublishHistory": [{"createdAt": "2026-03-02T05:16:03.555Z", "id": 526, "workflowId": "Lg6uKXjGeedojMOQ", "versionId": "ff670b00-d448-41cd-b1e5-912c66086615", "event": "deactivated", "userId": "8a968d0b-280d-4856-b867-bed874846716"}, {"createdAt": "2026-03-02T05:16:03.566Z", "id": 527, "workflowId": "Lg6uKXjGeedojMOQ", "versionId": "ff670b00-d448-41cd-b1e5-912c66086615", "event": "activated", "userId": "8a968d0b-280d-4856-b867-bed874846716"}]}}